<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 footer-logo-sec">
                <img src="/images/header-logo.webp" alt="Brook /Images" loading="lazy">
                <ul>
                    <li>Our mission and vision aligns with a sole motto - To make your business proud. Our
                        master digital marketing strategists</li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h6>Links</h6>
                <ul>
                    <li><a href="#!">Home</a></li>
                    <li><a href="#!">About Us</a></li>
                    <li><a href="#!">Privacy Policy</a></li>
                    <li><a href="#!">Terms And Conditions</a></li>
                    <li><a href="#!">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h6>Portfolio</h6>
                <ul class="portfolio-footerList">
                    <li><a href="#!">Logo Design</a></li>
                    <li><a href="#!">Branding</a></li>
                    <li><a href="#!">Website Design</a></li>
                    <li><a href="#!">Video Animation</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h6>Pricing Packages</h6>
                <ul class="pricing-footerList">
                    <li><a href="#!">All In 1</a></li>
                    <li><a href="#!">Logo &amp; Branding</a></li>
                    <li><a href="#!">Logo Design</a></li>
                    <li><a href="#!">HTML Website</a></li>
                    <li><a href="#!">CMS Website</a></li>
                    <li><a href="#!">E-Commerce</a></li>
                    <li><a href="#!">Portal Site</a></li>
                </ul>
            </div>
            <div class="col-lg-3">

                <h6>Contact Our Team</h6>
                <ul class="footerUlAncher">
                    <li class="contact-text flexx"> <i class="bi bi-telephone-fill"></i><a
                            href="tel:929-322-1091">929-322-1091</a></li>
                    <li class="contact-text flexx"><i class="bi bi-telephone-fill"></i><a
                            href="tel:347-394-2571">347-394-2571</a></li>
                    <li class="contact-text flexx"> <i class="bi bi-envelope"></i><a
                            href="mailto:info@logura.com">info@logura.com</a></li>
                    <li class="contact-text flexx"> <i class="bi bi-geo-alt-fill"></i><a href="#!">Mailing Address - 300 Cadman Plaza West One
                            Pierrepont Plaza 12th Floor Brooklyn New York 11201</a></li>
                </ul>
                <ul class="mt-4">
                    <i class="bi bi-facebook socialIcons"></i>
                    <i class="bi bi-twitter socialIcons"></i>
                    <i class="bi bi-youtube socialIcons" ></i>
                </ul>
            </div>
        </div>
    </div>

</footer>
<footer class="bottom_footer">
    <div class="container">
        <div class="flexx item-center justify-space">
            <div class="">
                <p> Copyright © 2024. All rights reserved </p>
            </div>
            <div class="">
                <p> EASY AND SECURE PAYMENT </p><br />
                <img src="/images/paymentImg.webp" width="auto" alt="paymentImg" loading="lazy">
            </div>
        </div>
    </div>
</footer>



</section>





<!-- AOS -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
AOS.init();
</script>
<!-- AOS -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

<!-- Initialize Swiper -->
<script>
var swiper = new Swiper(".logoSwiper", {
    slidesPerView: 5,
    spaceBetween: 30,
    freeMode: true,
    slidesPerGroup: 1,
    autoplay: { delay: 4000 },
    pagination: false,
    breakpoints: {
        // when window width is <= 499px
        320: {
            slidesPerView: 3,
            spaceBetweenSlides: 30
        },
        499: {
            slidesPerView: 3,
            spaceBetweenSlides: 30
        },
        767: {
            slidesPerView: 4,
            spaceBetweenSlides: 30
        },
        // when window width is <= 999px
        999: {
            slidesPerView: 5,
            spaceBetweenSlides: 40
        },
        1200: {
            slidesPerView: 5,
            spaceBetweenSlides: 40
        }
    }
});
var swiper = new Swiper(".logoSwiper2", {
    slidesPerView: 5,
    spaceBetween: 30,
    freeMode: true,
    slidesPerGroup: 1,
    autoplay: {
        delay: 3000,
        reverseDirection: true,
    },
    pagination: false,
    breakpoints: {
        // when window width is <= 499px
        320: {
            slidesPerView: 3,
            spaceBetweenSlides: 30
        },
        499: {
            slidesPerView: 3,
            spaceBetweenSlides: 30
        },
        767: {
            slidesPerView: 4,
            spaceBetweenSlides: 30
        },
        // when window width is <= 999px
        999: {
            slidesPerView: 5,
            spaceBetweenSlides: 40
        },
        1200: {
            slidesPerView: 5,
            spaceBetweenSlides: 40
        }
    }
});
var swiper = new Swiper(".swiperlastSlider", {
    spaceBetween: 30,
    freeMode: true,
    autoplay: { delay: 4000 },
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
});
</script>

</body>

</html>