<%- include('partials/header') %>

<section class="main_container">


    <!-------------------------- banner-------------------------- -->
    <!-------------------------- banner-------------------------- -->

    <section class="banner">
        <div class="innerBanner aboutbanner" >
            <!-- <div class="shape-red">
                <img src="/images/shape-red.webp" alt="">
            </div>
            <div class="shape-yellow">
                <img src="/images/shape-yellow.webp" alt="">
            </div> -->
            
            <div class="home-banner-video">
                <img src="/images/aboutbanner.webp" alt="aboutbanner">
            </div>

            <div class="bannerContent container">
                <div class="">
                    <h1 class="heading heading-h1 text-white font-120">Jack of All, Master of <br /> Digital And Design </h1>
                    <h2 class="heading heading-h6 text-white letter-spacing-1 line-height-1-5 typewriter">Our mission and vision aligns with a sole motto - To make your business proud. Our master digital marketing strategists, Content Rookies, Logo Artists and Web Development Gurus have been stepping up the game of digitizing brands since the inception of Logura.</h2>
                </div>

            </div>
            <div class="container logoSwiperMarginTop forLogoWidth">
                <div class="swiper logoSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/1.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/2.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/3.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/4.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/5.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/1.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/2.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/3.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/4.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>


  

   

    <section class="award_sec">
        <div class="container">
            <div class="top-content-award">
                
                <div class=" pt-5 ">
                    <h2 class="heading-title text-white">Services</h2>
                    <h1 class="heading heading-h3 text-white">Attract.Aware.Convert.Retain</h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">The four pillars of our digital
                        branding design and strategy. We market to quench your <br /> thirst of ROI. We master the
                        art of digital optimization and conversion.</h6>
                </div>
            </div>

            <div class="tab_sec1">
                
                <div class="tab_container_area">
                    <div class="tab_containerAbout">
                        <div class="row item-center justify-space">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">Business Logo Design And Branding</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">Get your brand noticed at the -
                                        First Sight.</h6>
                                    <p>
                                        We dwell down your industry design standards to create a Business logo
                                        design that exceeds your expectations and gets fused in your client’s
                                        thoughts. <br /><br />
                                        Yes, that’s how we get your brand recalled. Our innovative Business logo
                                        designers and edge artists are passionate about giving your business an
                                        identity that sets the bar of your industry. <br /><br />
                                        We’ve been building brands since decades and with our extensively
                                        experienced brand developers, we are known in the industry for delivering
                                        creative designs and campaigns that make your digital design presence roar
                                        loud.
                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Custom Logo
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Live Chat
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="/images/tab1service-img-lb.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab_containerAbout">
                        <div class="row item-center justify-space">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="/images/tab2website.webp" alt="website">
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">Crisp Web Development</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">
                                        Strong backend, beautiful front-end - Inspiring Website.
                                    </h6>
                                    <p>
                                        We create websites with feel and zeal. Our web development geeks hunt top
                                        layouts, beautiful custom design and robust code to build your business
                                        website on a level that is literally unmatched. Yes, we mean it!
                                        <br /><br />
                                        Be it a swift user interface, stunning visuals, clear design or rich user
                                        experience, our goal is to make an impact on everyone who checks in. Witness
                                        an increased conversion rate and low bounce rate with our accurate content
                                        placement and stunning design elements.

                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get My Website
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Live Chat
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="tab_containerAbout">
                        <div class="row item-center justify-space">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">Spontaneous Video Animation</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">
                                        Brain works with /images - Our Mantra of Video Animation.
                                    </h6>
                                    <p>
                                        Creating highly engaging videos since forever. Our vision behind the video
                                        animation service is on point. We create to convey. Yes, we own our words.
                                        Our animated videos convey your business within moments and this is why we
                                        are popular in the video animation industry. <br /><br />
                                        We toast creativity with freedom and garnish it with appraised colors. The
                                        result? Engaging, interactive and impecular videos meant to chip in the eye
                                        balls you need for your business. Let’s create an awesome video for you.

                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Lets Get Started
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Live Chat
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="/images/tab3video.webp" alt="3video">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab_containerAbout">
                        <div class="row item-center justify-space">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="/images/tab4dm2.webp" alt="dm">
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">Viralizing Digital Marketing</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">
                                        Digital marketing is about the right reach - We Guarantee It.
                                    </h6>
                                    <p>
                                        Our inspiring track record of massively successful digital marketing
                                        campaigns is the competition for us but guess what? We beat it by miles with
                                        every other campaign. Be it Pay per click, SEO optimization, social media
                                        marketing, content marketing, or content publishing, we excel all of it and
                                        we own our words. <br /><br />
                                        Our team of genius digital marketers know how to skyrocket your business
                                        with the right digital marketing strategies. Trust us and we will never let
                                        you fall.

                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Lets Get Started
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Live Chat
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </section>

    <section class="our_approach_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5 text-center">
                    <h2 class="heading-title text-white">Workflow</h2>
                    <h1 class="heading heading-h3 text-white">Our 360 Degree
                        Creative Process</h1>
                </div>
            </div>
            <div class="row workflow-sec">
                <div class="workflow-sec-container">
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-1">
                            <div class="workflow-number"> 01 </div> <img src="/images/newImg/workprocess-1.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Brief</h3>
                        <p class="text-white">Good listening and intriguing questions makes our process unique. You just need to share your idea and it's our job to boost it with our decades of experience.</p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-2">
                            <div class="workflow-number"> 02 </div> <img src="/images/newImg/workprocess-2.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Ideation</h3>
                        <p class="text-white">Our team of compassionate creative designers and brand strategists ideate and discuss on shaping up your idea into a hard hitting success.</p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-3">
                            <div class="workflow-number"> 03 </div> <img src="/images/newImg/workprocess-3.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Execution</h3>
                        <p class="text-white">We execute when we are more than satisfied with the future outcome of our effort. Good news - your business is about to rake in huge success with our digital design and branding services</p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-4">
                            <div class="workflow-number"> 04 </div> <img src="/images/newImg/website-w.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Delivery</h3>
                        <p class="text-white">We promise to deliver your project before time. Once your project is dispatched from our side, we keep track of your feedback and satisfaction till you have a wide satisfactory smile for us. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5 text-center">
                    <h2 class="heading-title text-white">Testimonials</h2>
                    <h1 class="heading heading-h3 text-white">Elevate Your Brand Awareness with a Simple Call to Us
                    </h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                        Reach out to us, and let's amplify your brand awareness together, creating a lasting impact in the market with the endorsement of satisfied customer reviews.
                    </h6>
                </div>
            </div>
            <div class="swiper swiperlastSlider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="/images/lastslide1.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Best Logo Design</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    After researching the best Business logo design company for my
                                                    company, I
                                                    came
                                                    across this one. I must say it has been fantastic working with
                                                    Jack Daniel
                                                    as he
                                                    has listened to my ideas and come up with the best product. I
                                                    would
                                                    recommend
                                                    this website to anyone! Im more than happy with my Business
                                                    logo.
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="/images/newImg/clint-1.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Jake L</h2>
                                                <p>
                                                    Opt Manager
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="/images/lastslide.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Great find, I'd use them again in a heartbeat!</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    I needed a new logo design for my small business. These guys could not have been easier to work with and the result was far beyond my expectation. I would absolutely use them again!
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="/images/newImg/clint-2.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Sue Sasseen</h2>
                                                <p>
                                                    CEO
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="/images/lastslide2.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Jack Daniel did an excellent job.</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    Jack Daniel did an excellent job designing a logo for my company. Looking forward to designing web site with him.
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="/images/newImg/clint-3.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Harvey Harris</h2>
                                                <p>
                                                    Manager
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

<%- include('partials/footer') %>
