<%- include('partials/header') %>
    <section class="main_container">


        <!-------------------------- banner-------------------------- -->
        <!-------------------------- banner-------------------------- -->

        <section class="banner">
            <div class="innerBanner aboutbanner logo_banner">
                <!-- <div class="shape-red">
                    <img src="images/shape-red.webp" alt="">
                </div>
                <div class="shape-yellow">
                    <img src="images/shape-yellow.webp" alt="">
                </div> -->
            
                <div class="home-banner-video">
                    <img src="/images/book-banner.webp" alt="logo-branding-banner">
                </div>

                <div class="bannerContent book-applicationBox customLogoBox container">
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <h1 class="heading heading-h1 text-white font-120">
                                Unlock the Power of Words with <br /> Our book Writing Services
                            </h1>
                            <h2 class="heading heading-h6 text-white letter-spacing-1 line-height-1-5 typewriter mt-4">
                                Embark on a literary journey with our dedicated book Writing Services. We're here to
                                transform your ideas into captivating books, providing comprehensive support and
                                expertise every step of the way.
                            </h2>

                            <div class="slider-list">
                                <ul>
                                    <li>✔ &nbsp;&nbsp;Tailored book Writing</li>
                                    <li>✔ &nbsp;&nbsp;Professional Editing</li>
                                    <li>✔ &nbsp;&nbsp;Timely Delivery</li>
                                    <li>✔ &nbsp;&nbsp;Hassle-Free Publishing</li>
                                </ul>
                            </div>

                            <a class="commonBTN2" href="javascript:;">
                                Get A Custom Logo
                            </a>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="tabs_unIMG pt-md-4 pt-sm-4">
                                <img src="/images/book-banner-box.webp" alt="logo-box-banner" class="logo_banner_img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container logoSwiperMarginTop forLogoWidth">
                    <div class="swiper logoSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/1.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/2.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/3.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/4.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/5.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/1.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/2.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/3.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/4.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </section>

        <section class="proposal_sec">
            <div class="container">
                <div class="row item-center justify-space">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <h1 class="heading heading-h1 text-white font-120">
                            Are you finding it <br /> challenging to articulate your thoughts into words?
                        </h1>
                        <h2 class="heading heading-h6 text-white letter-spacing-1 line-height-1-5 typewriter mt-4">
                            Embark on a literary journey with our dedicated book Writing Services. We're here to
                            transform your ideas into captivating books, providing comprehensive support and expertise
                            every step of the way.
                        </h2>

                        <div class="slider-list">
                            <ul>
                                <li>✔ &nbsp;&nbsp;Tailored book Writing</li>
                                <li>✔ &nbsp;&nbsp;Professional Editing</li>
                                <li>✔ &nbsp;&nbsp;Timely Delivery</li>
                                <li>✔ &nbsp;&nbsp;Hassle-Free Publishing</li>
                            </ul>
                        </div>

                        <a class="commonBTN2 mt-4" href="javascript:;">
                            Get A Custom Logo
                        </a>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="proposal_form mt-md-4 mt-lg-4 " class="">
                            <h1 class="heading heading-h1 text-white text-center font-120">
                                Can't Reach Us?
                            </h1>
                            <form id="contactForm" method="POST" action="/send-email" >
                                <div class="row">
                                    <div class="col-6">
                                        <input name="name" type="text" placeholder="Name*" required>
                                    </div>
                                    <div class="col-6">
                                        <input name="email" type="email" placeholder="Email*" required>
                                    </div>
                                    <div class="col-12">
                                        <input name="budget" type="text" placeholder="Tell Us your Budget (Optional)">
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" id="message" placeholder="Your message" required></textarea>
                                    </div>
                                    <div class="col-12">
                                        <input type="submit" id="submit_contact" value="Best time to jump on a quick call">
                                    </div>
                                </div>
                            </form>
                            

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="award_sec">
            <div class="container">
                <div class="top-content-award">

                    <div class=" pt-5 ">
                        <h2 class="heading-title text-white">Services</h2>
                        <h1 class="heading heading-h3 text-white">Mastering Digital Design, Strategy and Conversion
                            Magic for Your Book Success</h1>
                        <h6 class="heading heading-h6 text-white letter-spacing-1">
                            The foundation of our book design and strategy is built on four key pillars. We
                            strategically market to satisfy your ROI aspirations and excel in the digital realm through
                            optimization and conversion mastery.
                        </h6>
                    </div>
                </div>

                <div class="tab_sec1">
                    <ul class="tab_navigation">
                        <li class="a">

                            <img src="/images/tablogo-w.png" class="white-icons">
                            <img src="/images/tablogo.png" class="pink-icons">
                            <div class="tab-name">Book &amp; Publications</div>

                        </li>
                        <li class="b">

                            <img src="/images/website-w.png" class="white-icons">
                            <img src="/images/website.png" class="pink-icons">
                            <div class="tab-name">Book Writing & Editing </div>

                        </li>
                        <li class="c">

                            <img src="/images/video-w.png" class="white-icons">
                            <img src="/images/video.png" class="pink-icons">
                            <div class="tab-name">Ghost Writing </div>

                        </li>
                        <li class="d">

                            <img src="/images/dm-w.png" class="white-icons">
                            <img src="/images/dm.png" class="pink-icons">
                            <div class="tab-name">Promotion & Marketing</div>

                        </li>

                    </ul>
                    <div class="tab_container_area">
                        <div class="tab_container p1">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <h1 class="heading heading-h3 ">Book Publications</h1>
                                        <h6 class="heading heading-h6  letter-spacing-1">
                                            Seamless Book Publications for Every Author
                                        </h6>
                                        <p>
                                            Embark on your journey to becoming a published author with our comprehensive
                                            Book Publications service. We provide end-to-end support, from refining your
                                            manuscript to formatting, designing, and ultimately publishing your book.
                                            Our team ensures that your work is presented professionally and reaches its
                                            full potential in the literary world. Whether you're a first-time author or
                                            an experienced writer, our Book Publications service is tailored to meet
                                            your unique needs and elevate your book to new heights of success.
                                        </p>
                                        <div class="flexx btns">
                                            <!-- <div>
                                                <a class="commonBTN2" href="javascript:;">
                                                    Get A Business Logo
                                                </a>
                                            </div> -->
                                            <div>
                                                <a class="commonBTN3" href="javascript:;">
                                                    <i class="bi bi-chat-dots-fill"></i> Live Chat
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <img src="/images/bookBox1.webp" alt="service-img-lb">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab_container p2">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <h1 class="heading heading-h3 ">Book Writing and Editing</h1>
                                        <h6 class="heading heading-h6  letter-spacing-1">
                                            Release Your Story: Expert Book Crafting and Polishing
                                        </h6>
                                        <p>
                                            Our expert writers craft compelling narratives tailored to your vision,
                                            while our meticulous editors refine your manuscript, ensuring clarity,
                                            coherence, and polished prose. Whether you're starting from scratch or
                                            seeking enhancements, our service transforms ideas into captivating books,
                                            ready to captivate readers. Trust us to bring your words to life and produce
                                            an book that stands out in the literary landscape.

                                        </p>
                                        <div class="flexx btns">
                                            <!-- <div>
                                                <a class="commonBTN2" href="javascript:;">
                                                    Get A Business Logo
                                                </a>
                                            </div> -->
                                            <div>
                                                <a class="commonBTN3" href="javascript:;">
                                                    <i class="bi bi-chat-dots-fill"></i> Live Chat
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <img src="/images/bookBox2.webp" alt="website">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab_container p3">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <h1 class="heading heading-h3 ">Ghost Writing</h1>
                                        <h6 class="heading heading-h6  letter-spacing-1">
                                            Disclose Untold Stories: Our Ghostwriting Expertise
                                        </h6>
                                        <p>
                                            Step into the shadows of creativity with our Ghostwriting service. Our
                                            skilled writers bring your ideas to life, channeling your voice seamlessly
                                            into captivating narratives. Whether it's a memoir, fiction, or non-fiction
                                            project, we work discreetly to ensure your story is told with the depth and
                                            authenticity it deserves. From concept to completion, our Ghostwriting
                                            service is your invisible hand in creating literary magic, leaving readers
                                            enchanted by your unique tale.

                                        </p>
                                        <div class="flexx btns">
                                            <!-- <div>
                                                <a class="commonBTN2" href="javascript:;">
                                                    Get A Business Logo
                                                </a>
                                            </div> -->
                                            <div>
                                                <a class="commonBTN3" href="javascript:;">
                                                    <i class="bi bi-chat-dots-fill"></i> Live Chat
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <img src="/images/bookBox3.webp" alt="3video">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab_container p4">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <h1 class="heading heading-h3 ">Book Promotion and Marketing</h1>
                                        <h6 class="heading heading-h6  letter-spacing-1">
                                            Strategic Visibility: Boost Your Book's Reach and Impact

                                        </h6>
                                        <p>
                                            Maximize the reach and impact of your book with our book Promotion and
                                            Marketing service. We go beyond just publishing by implementing strategic
                                            marketing campaigns tailored to your target audience. From social media
                                            promotions to targeted advertising, we ensure your book receives the
                                            attention it deserves. Our comprehensive approach aims to boost visibility,
                                            drive sales, and establish your author brand in the competitive digital
                                            landscape. Let us amplify your book's success with effective promotion and
                                            marketing strategies.
                                        </p>
                                        <div class="flexx btns">
                                            <!-- <div>
                                                <a class="commonBTN2" href="javascript:;">
                                                    Get A Business Logo
                                                </a>
                                            </div> -->
                                            <div>
                                                <a class="commonBTN3" href="javascript:;">
                                                    <i class="bi bi-chat-dots-fill"></i> Live Chat
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <img src="/images/bookBox4.webp" alt="dm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="award_sec boxBookStyle">
            <div class="container">
                <div class="top-content-award">
                    <div class="pt-5">
                        <h2 class="heading-title text-white">Custom Books</h2>
                        <h1 class="heading heading-h3 text-white">
                            Bespoke book Writing Services
                        </h1>
                    </div>
                </div>

                <div class="row item-center justify-space text-white">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div>

                            <p>
                                Our Custom book Writing Service is your gateway to unique, tailored content that
                                reflects your vision and resonates with your audience. Whether you're an author,
                                entrepreneur, or professional seeking to share your knowledge, we'll collaborate closely
                                with you to bring your ideas to life. With our expertise, your book will stand out in
                                the crowded digital landscape. Let us be your partner in this creative journey, ensuring
                                your words make an impact. Explore the possibilities with us today.
                            </p>
                            <div class="flexx item-center my-4">
                                <div>
                                    <p>Starting from only</p>
                                </div>
                                <div>
                                    <img src="/images/boxBookArrow.webp" width="auto" alt="Arrow">
                                </div>
                                <div>
                                    <p><strong>$2.95</strong> <span>/Page</span></p>
                                </div>
                            </div>
                            <div class="flexx btns">
                                <div>
                                    <a class="commonBTN2" href="javascript:;">
                                        Order Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-10 mt-4">
                        <div>
                            <img src="/images/boxBook1.webp" alt="dm">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="award_sec boxBookStyle">
            <div class="container">
                <div class="top-content-award">
                    <div class="pt-5">
                        <h2 class="heading-title text-white">Custom Books</h2>
                        <h1 class="heading heading-h3 text-white">
                            Exclusive book Deals Just for You
                        </h1>
                    </div>
                </div>

                <div class="row item-center justify-space text-white">

                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-4">
                        <div>
                            <img src="/images/boxBook2.webp" alt="dm">
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-4">
                        <div>

                            <p class="mb-4">
                                Welcome to a world of exclusive book deals designed just for you. Our personalized book
                                promotions are made to match your unique reading preferences. Whether you're a fan of
                                gripping mysteries, heartwarming romances, or in-depth non-fiction, we have the perfect
                                deals to match your literary tastes. Explore a curated selection of books that resonate
                                with your interests and embark on a reading journey that's as unique as you are.
                            </p>

                            <div class="flexx btns">
                                <div>
                                    <a class="commonBTN2" href="javascript:;">
                                        Discover Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="award_sec">
            <div class="container">
                <div class="top-content-award">
                    <div class="pt-5">
                        <h2 class="heading-title text-white">Portfolio</h2>
                        <h1 class="heading heading-h3 text-white">
                            Our book Collection
                        </h1>
                        <h6 class="heading heading-h6 text-white letter-spacing-1">
                            Welcome to our book Portfolio, a diverse collection of stories,inspiration, and knowledge.
                            Each book within our portfolio is a testament to our commitment to quality & creativity.
                            Whether you're seeking captivating fiction, insightful non-fiction, or practical guides, our
                            collection offers a range of genres and topics to explore.
                        </h6>
                    </div>
                </div>

                <div class="tab_sec1">

                    <div class="tab_container_area">
                        <div class="tab_containe logo_design">
                            <div class="row">
                                <div class="col-3 mt-3">
                                    <div class="innerLogoSlide">
                                        <a href="/images/port1.webp" data-lightbox="port1">
                                            <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                                src="/images/port1.webp" alt="logo" loading="lazy">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3 mt-3">
                                    <div class="innerLogoSlide">
                                        <a href="/images/port2.webp" data-lightbox="logo_design">
                                            <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                                src="/images/port2.webp" alt="logo" loading="lazy">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3 mt-3">
                                    <div class="innerLogoSlide">
                                        <a href="/images/port3.webp" data-lightbox="logo_design">
                                            <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                                src="/images/port3.webp" alt="logo" loading="lazy">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3 mt-3">
                                    <div class="innerLogoSlide">
                                        <a href="/images/port4.webp" data-lightbox="logo_design">
                                            <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                                src="/images/port4.webp" alt="logo" loading="lazy">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3 mt-3">
                                    <div class="innerLogoSlide">
                                        <a href="/images/port5.webp" data-lightbox="logo_design">
                                            <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                                src="/images/port5.webp" alt="logo" loading="lazy">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3 mt-3">
                                    <div class="innerLogoSlide">
                                        <a href="/images/port6.webp" data-lightbox="logo_design">
                                            <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                                src="/images/port6.webp" alt="logo" loading="lazy">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3 mt-3">
                                    <div class="innerLogoSlide">
                                        <a href="/images/port7.webp" data-lightbox="logo_design">
                                            <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                                src="/images/port7.webp" alt="logo" loading="lazy">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3 mt-3">
                                    <div class="innerLogoSlide">
                                        <a href="/images/port8.webp" data-lightbox="logo_design">
                                            <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                                src="/images/port8.webp" alt="logo" loading="lazy">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </section>

        <div class="container award_sec ">
            <div class="top-content-award text-center">
                <div>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <p>
                    Folks think we're rad. We're rated 4.8/5 from 100+ customer reviews.
                </p>
                <a class="commonBTN2" href="javascript:;">
                    Explore More Here
                </a>
            </div>
        </div>

        <section class="award_sec">
            <div class="container">
                <div class="top-content-award">
                    <div class="pt-5">

                        <h1 class="heading heading-h3 text-white">
                            Why Choose Our Book Writing Expertise?
                        </h1>
                        <h6 class="heading heading-h6 text-white letter-spacing-1">
                            Engage yourself in the excellence of our book writing services. From skilled writers to
                            dedicated project management, we prioritize quality, creativity, and timely delivery. Choose
                            us for a consistent journey from idea to a published masterpiece.
                        </h6>
                    </div>
                </div>

                <div class="tab_sec1">
                    <div class="tab_container_area">
                        <div class="tab_containe logo_design">
                            <div class="row item-center justify-space">
                                <div class="col-lg-6 col-10 mt-3">
                                    <div>
                                        <div class="flexx item-center my-3">
                                            <div>
                                                <i class="bi bi-file-lock2"></i>
                                            </div>
                                            <div>
                                                <h4 class="chooseh4">Expert Authors</h4>
                                                <p class="text-white">Our team comprises seasoned book writers with a
                                                    proven track record.</p>
                                            </div>
                                        </div>
                                        <div class="flexx item-center my-3">
                                            <div>
                                                <i class="bi bi-file-lock2"></i>
                                            </div>
                                            <div>
                                                <h4 class="chooseh4">Tailored Creativity</h4>
                                                <p class="text-white">We craft each book uniquely, ensuring it aligns
                                                    with your vision</p>
                                            </div>
                                        </div>
                                        <div class="flexx item-center my-3">
                                            <div>
                                                <i class="bi bi-file-lock2"></i>
                                            </div>
                                            <div>
                                                <h4 class="chooseh4">Timely Delivery</h4>
                                                <p class="text-white">Count on us for punctual delivery without
                                                    compromising quality.</p>
                                            </div>
                                        </div>
                                        <div class="flexx item-center my-3">
                                            <div>
                                                <i class="bi bi-file-lock2"></i>
                                            </div>
                                            <div>
                                                <h4 class="chooseh4">Diverse Genres</h4>
                                                <p class="text-white">From fiction to non-fiction, we excel in various
                                                    book genres</p>
                                            </div>
                                        </div>
                                        <div class="flexx item-center my-3">
                                            <div>
                                                <i class="bi bi-file-lock2"></i>
                                            </div>
                                            <div>
                                                <h4 class="chooseh4">Client-Centric Approach</h4>
                                                <p class="text-white">Your satisfaction is our priority; we collaborate
                                                    closely to meet your expectations.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-10 mt-3">
                                    <div>
                                        <img src="/images/mockup.webp" alt="mockup">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="award_sec">
            <div class="container">
                <div class="top-content-award">
                    <div class="pt-5">

                        <h1 class="heading heading-h3 text-white">
                            Comprehensive Solutions for Your Book Journey!
                        </h1>

                    </div>
                </div>

                <div class="tab_sec1">
                    <div class="books1Sec swiper booksSwiper">
                        <div class="swiper-wrapper ">
                            <div class="swiper-slide">
                                <div class="row item-center justify-space mx-5">
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3 ">
                                        <div>
                                            <div class="testimonial-details">
                                                <h4>Creative Ghostwriting</h4>
                                                <p>Elevate your ideas with our expert writers who breathe life into your concepts,
                                                    creating engaging and original book content.</p> 
                                                    <img src="/images/books1.webp" alt="books1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3">
                                        <div>
                                            <div class="testimonial-details">
                                                <h4>Creative Ghostwriting</h4>
                                                <p>Elevate your ideas with our expert writers who breathe life into your concepts,
                                                    creating engaging and original book content.</p> 
                                                    <img src="/images/books2.webp" alt="books1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3">
                                        <div>
                                            <div class="testimonial-details">
                                                <h4>Creative Ghostwriting</h4>
                                                <p>Elevate your ideas with our expert writers who breathe life into your concepts,
                                                    creating engaging and original book content.</p> 
                                                    <img src="/images/books3.webp" alt="books1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row item-center justify-space mx-5">
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3  mt-3">
                                        <div>
                                            <div class="testimonial-details">
                                                <h4>Creative Ghostwriting</h4>
                                                <p>Elevate your ideas with our expert writers who breathe life into your concepts,
                                                    creating engaging and original book content.</p> 
                                                    <img src="/images/books1.webp" alt="books1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3  mt-3">
                                        <div>
                                            <div class="testimonial-details">
                                                <h4>Creative Ghostwriting</h4>
                                                <p>Elevate your ideas with our expert writers who breathe life into your concepts,
                                                    creating engaging and original book content.</p> 
                                                    <img src="/images/books2.webp" alt="books1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 mt-3  mt-3">
                                        <div>
                                            <div class="testimonial-details">
                                                <h4>Creative Ghostwriting</h4>
                                                <p>Elevate your ideas with our expert writers who breathe life into your concepts,
                                                    creating engaging and original book content.</p> 
                                                    <img src="/images/books3.webp" alt="books1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="award_sec welcomeSec">
            <div class="container">
                <div class="top-content-award">
                    <div class="pt-5">
                        <h2 class="heading-title text-white">Book Writing</h2>
                        <h1 class="heading heading-h3 text-white">
                            Welcome to Book Writing In USA
                        </h1>
                        <h6 class="heading heading-h6 text-white letter-spacing-1">
                            Our Book Writing services is your gateway to top-tier book writing, spanning a multitude of fields. We specialize in crafting engaging and informative books tailored to your unique needs and expertise.
                        </h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 mt-4">
                        <div>
                            <div class="flexx">
                                <div>
                                    <i class="bi bi-bookshelf"></i>
                                </div>
                                <div>
                                    <h3 class="text-white mb-3">Exceptional Content Drives Success</h3>
                                    <p class="text-white">Superior content is the linchpin of achievement in the digital landscape.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div>
                            <div class="flexx">
                                <div>
                                    <i class="bi bi-people"></i>
                                </div>
                                <div>
                                    <h3 class="text-white mb-3">books Enhance Your Credibility</h3>
                                    <p class="text-white">books serve as powerful tools to bolster your authority and reputation in your chosen field.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div>
                            <div class="flexx">
                                <div>
                                    <i class="bi bi-pc-display-horizontal"></i>
                                </div>
                                <div>
                                    <h3 class="text-white mb-3">Engage with a Skilled book Writer</h3>
                                    <p class="text-white">Collaborate with a seasoned book writer to bring your literary vision to life with finesse and flair.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div>
                            <div class="flexx">
                                <div>
                                    <i class="bi bi-pencil-square"></i>
                                </div>
                                <div>
                                    <h3 class="text-white mb-3">Enjoy Unlimited book Revisions</h3>
                                    <p class="text-white">Our commitment to your satisfaction means you can request as many revisions as needed to perfect your book.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div>
                            <div class="flexx">
                                <div>
                                    <i class="bi bi-journals"></i>
                                </div>
                                <div>
                                    <h3 class="text-white mb-3">Leverage books for Promotion</h3>
                                    <p class="text-white">books are a valuable promotional tool to boost your brand and engage your audience.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 mt-4">
                        <div>
                            <div class="flexx">
                                <div>
                                    <i class="bi bi-laptop"></i>
                                </div>
                                <div>
                                    <h3 class="text-white mb-3">Exceptional Content Drives Success</h3>
                                    <p class="text-white">Superior content is the linchpin of achievement in the digital landscape.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="our_approach_sec">
            <div class="container">
                <div class="top-content-award">
                    <div class="pt-5 text-center">
                        <h2 class="heading-title text-white">Workflow</h2>
                        <h1 class="heading heading-h3 text-white">
                            Our Comprehensive Creative Process
                        </h1>
                    </div>
                </div>
                <div class="row workflow-sec">
                    <div class="workflow-sec-container">
                        <div class="single-workflow">
                            <div class="workflow-img-2 workflow-1">
                                <div class="workflow-number"> 01 </div> <img src="/images/newImg/workprocess-1.webp"
                                    loading="lazy">
                            </div>
                            <h3 class="text-white">Exploring and Evaluating</h3>
                            <p class="text-white">
                                We meticulously examine every aspect of your project to ensure a well-informed and effective creative strategy
                            </p>
                        </div>
                        <div class="single-workflow">
                            <div class="workflow-img-2 workflow-2">
                                <div class="workflow-number"> 02 </div> <img src="/images/newImg/workprocess-2.webp"
                                    loading="lazy">
                            </div>
                            <h3 class="text-white">Generating Ideas and Solutions</h3>
                            <p class="text-white">
                                Our brainstorming sessions foster innovation, generating creative ideas and practical solutions to fuel your project.
                            </p>
                        </div>
                        <div class="single-workflow">
                            <div class="workflow-img-2 workflow-3">
                                <div class="workflow-number"> 03 </div> <img src="/images/newImg/workprocess-3.webp"
                                    loading="lazy">
                            </div>
                            <h3 class="text-white">Turning Ideas into Action</h3>
                            <p class="text-white">
                                In the execution phase, we bring your vision to life, meticulously crafting and implementing each element to ensure a successful outcome.
                            </p>
                        </div>
                        <div class="single-workflow">
                            <div class="workflow-img-2 workflow-4">
                                <div class="workflow-number"> 04 </div> <img src="/images/newImg/website-w.webp"
                                    loading="lazy">
                            </div>
                            <h3 class="text-white">Completion and Delivery</h3>
                            <p class="text-white">
                                In the final stage, we deliver your project, fully realized and ready to make an impact, ensuring your satisfaction and success.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonials_sec">
            <div class="container">
                <div class="top-content-award">
                    <div class="pt-5 text-center">
                        <h2 class="heading-title text-white">Testimonials</h2>
                        <h1 class="heading heading-h3 text-white">
                            Call Us to Elevate Your Brand Awareness
                        </h1>
                        <h6 class="heading heading-h6 text-white letter-spacing-1">
                            "Give us a ring to explore strategies that will enhance your brand's visibility and recognition."
                        </h6>
                    </div>
                </div>
                <div class="swiper swiperlastSlider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="lastSlideImg">
                                        <img src="/images/lastslide1.webp" width="100%" alt="lastslide">
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="text-white">
                                        <div class="testimonial_details">
                                            <h4>Best Logo Design</h4>
                                            <div class="quotePara">
                                                <i class="bi bi-quote bi-quote1"></i>
                                                <p>
                                                    <i>
                                                        After researching the best Business logo design company for my
                                                        company, I
                                                        came
                                                        across this one. I must say it has been fantastic working with
                                                        Jack Daniel
                                                        as he
                                                        has listened to my ideas and come up with the best product. I
                                                        would
                                                        recommend
                                                        this website to anyone! Im more than happy with my Business
                                                        logo.
                                                    </i>
                                                </p>
                                                <i class="bi bi-quote bi-quote2"></i>
                                            </div>
                                        </div>
                                        <div class="flexx">
                                            <div class="avatarImg">
                                                <img src="/images/newImg/clint-1.webp" alt="lastslide">
                                            </div>
                                            <div>
                                                <div class="top-content-award">
                                                    <div>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                    <h2>Jake L</h2>
                                                    <p>
                                                        Opt Manager
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="lastSlideImg">
                                        <img src="/images/lastslide.webp" width="100%" alt="lastslide">
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="text-white">
                                        <div class="testimonial_details">
                                            <h4>Great find, I'd use them again in a heartbeat!</h4>
                                            <div class="quotePara">
                                                <i class="bi bi-quote bi-quote1"></i>
                                                <p>
                                                    <i>
                                                        I needed a new logo design for my small business. These guys
                                                        could not have been easier to work with and the result was far
                                                        beyond my expectation. I would absolutely use them again!
                                                    </i>
                                                </p>
                                                <i class="bi bi-quote bi-quote2"></i>
                                            </div>
                                        </div>
                                        <div class="flexx">
                                            <div class="avatarImg">
                                                <img src="/images/newImg/clint-2.webp" alt="lastslide">
                                            </div>
                                            <div>
                                                <div class="top-content-award">
                                                    <div>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                    <h2>Sue Sasseen</h2>
                                                    <p>
                                                        CEO
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="lastSlideImg">
                                        <img src="/images/lastslide2.webp" width="100%" alt="lastslide">
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="text-white">
                                        <div class="testimonial_details">
                                            <h4>Jack Daniel did an excellent job.</h4>
                                            <div class="quotePara">
                                                <i class="bi bi-quote bi-quote1"></i>
                                                <p>
                                                    <i>
                                                        Jack Daniel did an excellent job designing a logo for my
                                                        company. Looking forward to designing web site with him.
                                                    </i>
                                                </p>
                                                <i class="bi bi-quote bi-quote2"></i>
                                            </div>
                                        </div>
                                        <div class="flexx">
                                            <div class="avatarImg">
                                                <img src="/images/newImg/clint-3.webp" alt="lastslide">
                                            </div>
                                            <div>
                                                <div class="top-content-award">
                                                    <div>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                    <h2>Harvey Harris</h2>
                                                    <p>
                                                        Manager
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>


        <%- include('partials/footer') %>