<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logura</title>

    <!---JQuery CDN path -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!---lightbox2 CDN path -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet" />
    <!-- <link rel="icon" href="images/fav.jpg" type="image/x-icon" /> -->

    <!---JQuery code file path -->
    <script src="js/jquery.js"></script>
    <!-- AOS style -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- AOS style -->

    <!-- swiper style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- swiper style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->


    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <section class="main_container">


        <!-------------------------- banner-------------------------- -->
        <!-------------------------- banner-------------------------- -->

        <section class="banner briefHeader thankyou_banner">
            <div class="innerBanner">
                <div class="dotsImg">
                    <img src="images/dotsImg.webp" alt="dotsImg">
                </div>
                <div class="abs1">
                    <img src="images/abs1.webp" alt="abs1">
                </div>
                <div class="abs2">
                    <img src="images/abs2.webp" alt="abs2">
                </div>
                <div class="abs3">
                    <img src="images/abs3.webp" alt="abs3">
                </div>
                <header class="header">
                    <div class="container">
                        <div class="flexx justify-space item-center">
                            <div>
                                <div class="logo">
                                    <a href="/">
                                    <img src="images/header-logo.webp" alt="header-logo">
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="header-flex-right flex-80">
                                    <div class="mainmenu-wrapper">
                                        <nav class="page_nav un_page">
                                            <ul class="navbar un_navbar">

                                                <li class="lavel-1">
                                                    <a href="tel:+19293221091" class="contact-num-header">
                                                        <i class="bi bi-telephone-fill"></i>
                                                        <span>929-322-1091</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </header>


                <div class="result-container">
                    <div class="container">
                        <div>
                            <div>
                                <h1 class="heading heading-h3 text-white text-center">
                                    Thank You , <br/>
                                    How Would You Like To Proceed?
                                </h1>
                                <div class="row">
                                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pt-2">
                                        <div>
                                            <div class="single-final"> 
                                                <img src="images/live-chat.webp" alt="live-chat">
                                                <div class="single-final-text">
                                                    <h4>Live Chat Support</h4>
                                                    <p>Let's Talk! Share your design requirements with one of our
                                                        designers to get a perfect logo that you envisioned for</p>
                                                    <div class="single-final-link"> 
                                                        <a class="commonBTN5" href="javascript:void(0)">Lets Chat</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pt-2">
                                        <div>
                                            <div class="single-final"> 
                                                <img src="images/pricing.webp" alt="pricing">
                                                <div class="single-final-text">
                                                    <h4>Pricing Packages</h4>
                                                    <p>Checkout our budget friendly packages & pricing plans tailor made for startups & growing businesses of all sizes</p>
                                                    <div class="single-final-link"> 
                                                        <a class="commonBTN5" href="javascript:void(0)">View Pricing</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pt-md-2 pt-sm-2 pt-2">
                                        <div>
                                            <div class="single-final"> 
                                                <img src="images/about-us.webp" alt="">
                                                <div class="single-final-text">
                                                    <h4>About Us</h4>
                                                    <p>We are a team of talented & creative individuals, who bring forth their expertise to provide smart business solutions</p>
                                                    <div class="single-final-link"> 
                                                        <a class="commonBTN5" href="javascript:void(0)">Read More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 pt-md-2 pt-sm-2 pt-2">
                                        <div>
                                            <div class="single-final"> 
                                                <img src="images/portfolio.webp" alt="">
                                                <div class="single-final-text">
                                                    <h4>Creative Portfolio</h4>
                                                    <p>Checkout our amazing logo projects that we have designed for our recent customers to give their brand an identity</p>
                                                    <div class="single-final-link"> 
                                                        <a class="commonBTN5" href="javascript:void(0)">Visit Portfolio</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


    </section>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>


</body>

</html>