<%- include('partials/header') %>

<section class="main_container">


    <!-------------------------- banner-------------------------- -->
    <!-------------------------- banner-------------------------- -->

    <section class="banner">
        <div class="innerBanner aboutbanner">
            <!-- <div class="shape-red">
                <img src="/images/shape-red.webp" alt="">
            </div>
            <div class="shape-yellow">
                <img src="/images/shape-yellow.webp" alt="">
            </div> -->
            
            <div class="home-banner-video">
                <img src="/images/logo-branding-banner.webp" alt="logo-branding-banner">
            </div>

            <div class="bannerContent customLogoBox container">
                <div class="row">
                    <div class="col-lg-6 col-10">
                        <h1 class="heading heading-h1 text-white font-120">
                            Logo Designs With <br />
                            Beautified Pixels
                        </h1>
                        <h2 class="heading heading-h6 text-white letter-spacing-1 line-height-1-5 typewriter mt-4">
                            Witness our custom business branding for
                            startups in the US and logo design services
                            crafted with professional touches,
                            the right tone and bespoke creativity
                        </h2>

                        <div class="slider-list">
                            <ul>
                                <li>✔ &nbsp;&nbsp;Unique blend of colors</li>
                                <li>✔ &nbsp;&nbsp;Inspiring logo designs</li>
                                <li>✔ &nbsp;&nbsp;Affordable pricing plans</li>
                            </ul>
                        </div>

                        <a class="commonBTN2" href="javascript:;">
                            Get A Custom Logo
                        </a>
                    </div>
                    <div class="col-lg-6 col-10">
                        <div>
                            <img src="/images/logo-box-banner.webp" alt="logo-box-banner">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container logoSwiperMarginTop forLogoWidth">
                <div class="swiper logoSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/1.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/2.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/3.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/4.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/5.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/1.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/2.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/3.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/4.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>


    <section class="award_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5">
                    <h2 class="heading-title text-white">LOGO TYPE</h2>
                    <h1 class="heading heading-h3 text-white">
                        Logo Designing Is An Art <br />
                        And We Are Master Artists
                    </h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                        Every business demands a different kind of logo. Be it a Wordmark Logo, Abstract Logo, Illustrative Logo, or Emblem Logo, we craft them with stellar professionalism.
                    </h6>
                    <p class="text-white mb--10 desc">
                        We’ve helped the industry’s leading brands and fueling creativity in the digital space is our passion. Know that a good logo design sets your client’s mind about your business. Our team of logo design artists and brand strategists know the value of colors, tone, and visual identity of a business. We are known to boast perfect logo designs and the sole reason is our in-depth research mixed with years of experience.
                        Branding businesses is our forte and aesthetic designing is our reputation. We’ve been building brands from scratch and conquering the logo design game proves to be the first step of design awesomeness. Leave all your design needs on us and get ready to see what great design feels and looks like.
                    </p>
                </div>
            </div>

            <div class="tab_sec1">
                <ul class="tab_navigation1">
                    <li class="a commonBTN4">
                        Word Mark Logo
                    </li>
                    <li class="b commonBTN4">
                        Abstract Logo 
                    </li>
                    <li class="c commonBTN4">
                        Illustrative Logo 
                    </li>
                    <li class="d commonBTN4">
                        Emblem Logo 
                    </li>

                </ul>
                <div class="tab_container_area">
                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">Word Mark Logo</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">Logos representing your business via font type</h6>
                                    <p>
                                        If you need wordmark logo design services in US to get your business recognized by a unique type of font in your logo, Word Mark logo is all that you need. It makes your business name recalling, easy to memorize and catchy. The base of Word Mark logo is strongly founded by an appealing typography element. As your business name will gather all the eye-focus, the font should be decided after much brainstorming whether it shall look heavy, curvy, edged or thin.
                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Custom Logo
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="/images/custmLogo1.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">Abstract Logo</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">Logos with your registered pictorial signs</h6>
                                    <p>
                                        Abstract logos are best for businesses aiming to be known for their pictorial sign or any type of image they prefer. Abstract logos are best to get your brand associated with a symbol. The basics of abstract logos depends upon the sign, symbol or image that is decided with the logics and thoughts of a brand. They are picked by the right delusion of business theme, industry norms and most importantly the idea to represent a brand with its base thought.
                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Custom Logo
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="/images/custmLogo2.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">Illustrative Logo</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">Logos including illustrative mascots</h6>
                                    <p>
                                        We have designed numerous illustrative logo designs for US companies. When it comes to creating a character of your brand or creating a logo that paves the way for brand storytelling, Illustrative logos are your way to represent your business the desired way. They could be fun, aggressive or just a simple mascot but are a powerful way to depict your service or product in a humanly way. Keeping the modern way of marketing in mind, Illustrative logos prove to be the best in terms of ensuring a recallable brand identity.
                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Custom Logo
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="/images/custmLogo3.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">Emblem Logo</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">Logos fused with fonts and /images</h6>
                                    <p>
                                        Think about monograms, team slogans, cultural representation or brand formation and localization, Emblem logos conquer all of the afore-mentioned areas by miles. They are bound to make a striking impact and are majorly used for government organizations, auto industry, schools, etc. Emblem logos could be modernized or they can be knitted with a classic touch. They are highly detailed, rigidly designed and formatted according to the business versatilities
                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Custom Logo
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="/images/custmLogo4.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>


        </div>
    </section>

    <section class="award_sec">
        <div class="">
            <div class="top-content-award">
                <div class="pt-5">
                    <h2 class="heading-title text-white">Portfolio</h2>
                    <h1 class="heading heading-h3 text-white">
                        Logo, Branding, Website Designs <br />
                        Carved With Brilliance
                    </h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                        We’ve been creating beautifully carved logo designs since a decade and when it comes to
                        uplifting a brand, we do it with sheer creativity.
                    </h6>
                </div>
            </div>

            <div class="tab_sec1">
                <ul class="tab_navigation3">
                    <li class="a commonBTN4">
                        Logo Design
                    </li>
                    <li class="b commonBTN4">
                        Branding
                    </li>
                    

                </ul>
                <div class="tab_container_area">
                    <div class="tab_container3 logo_design">
                        <div class="custom_row">
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/29.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/29.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/30.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/30.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/31.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/31.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/32.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/32.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/33.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/33.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/34.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/34.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/35.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/35.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/36.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/36.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/37.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/37.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/38.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/38.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/39.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/39.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/40.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/40.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            

                        </div>
                    </div>

                    <div class="tab_container3 branding">
                        <div class="custom_row">
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/1.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/1.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/2.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/2.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/3.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/3.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/4.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/4.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/5.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/5.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/6.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/6.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/7.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/7.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/8.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/8.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/9.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/9.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/10.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/10.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/11.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/11.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/12.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/12.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            

                        </div>
                    </div>

                </div>

            </div>
            
        </div>
    </section>
    
    <div class="container award_sec ">
        <div class="top-content-award text-center">
            <div>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i> 
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
            <p>
                Folks think we're rad. We're rated 4.8/5 from 100+ customer reviews.
            </p>
            <a class="commonBTN2" href="/portfolio#logo-design-tab">
                Explore More Here
            </a>
        </div>
    </div>

    <section class="award_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5">
                    <h2 class="heading-title text-white">Pricing</h2>
                    <h1 class="heading heading-h3 text-white">Inspiring Designs With <br />
                        Pocket-Friendly Pricing</h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">Affordable yet unique digital
                        creative and design services that are tailor-made
                        according to your personalized needs. We mean your business.</h6>
                </div>
            </div>

            <div class="tab_sec1">
                <ul class="tab_navigation4">
                    <li class="a commonBTN4">
                        Logo Design
                    </li>
                    <li class="b commonBTN4">
                        Branding
                    </li>
                    

                </ul>
                <div class="tab_container_area">
                    <div class="tab_container4">
                        <div class="row">
                            <div class="col-3">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$49</h2>
                                                <p>Basic</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img4.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="">Features</h3>
                                                <ul>
                                                    <li>✔ 2 Logo Design Concepts</li>
                                                    <li>✔ By 1 Experienced Designer</li>
                                                    <li>✔ 4 Free Revisions</li>
                                                    <li>✔ Dedicated Project Manager</li>
                                                    <li>✔ 24 - 48 Hours Delivery</li>
                                                </ul>
                                            </div>
                                            <div class="get-section">
                                                <h3>What you will Get?</h3>
                                                <ul>
                                                    <li>✔ 1 Finalized Logo</li>
                                                    <li>✔ No Copyright</li>
                                                    <li>✔ No Print Ready .PDF File</li>
                                                    <li>✔ No Vector .EPS File</li>
                                                    <li>✔ No Editable Vector .AI File</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$99</h2>
                                                <p>Standard</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img2.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="">Features</h3>
                                                <ul>
                                                    <li>✔ 4 Logo Design Concepts</li>
                                                    <li>✔ By 3 Experienced Designer</li>
                                                    <li>✔ 8 Free Revisions</li>
                                                    <li>✔ Dedicated Project Manager</li>
                                                    <li>✔ 24 - 48 Hours Delivery</li>
                                                </ul>
                                            </div>
                                            <div class="get-section">
                                                <h3>What you will Get?</h3>
                                                <ul>
                                                    <li>✔ 1 Finalized Logo</li>
                                                    <li>✔ Copyrights & Ownership</li>
                                                    <li>✔ Online . JPEG & .PNG Files</li>
                                                    <li>✔ Print Ready .PDF File</li>
                                                    <li>✔ No Vector .EPS File</li>
                                                    <li>✔ No Editable Vector .AI File</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$149</h2>
                                                <p>Prime</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img1.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="">Features</h3>
                                                <ul>
                                                    <li>✔ 6 Logo Design Concepts</li>
                                                    <li>✔ By 5 Experienced Designer</li>
                                                    <li>✔ Unlimited Revisions</li>
                                                    <li>✔ 8 Free Revisions</li>
                                                    <li>✔ Dedicated Project Manager</li>
                                                    <li>✔ 24 - 48 Hours Delivery</li>
                                                </ul>
                                            </div>
                                            <div class="get-section">
                                                <h3>What you will Get?</h3>
                                                <ul>
                                                    <li>✔ Finalized Logo</li>
                                                    <li>✔ Copyrights & Ownership</li>
                                                    <li>✔ Online . JPEG & .PNG Files</li>
                                                    <li>✔ Print Ready .PDF File</li>
                                                    <li>✔ Vector .EPS File</li>
                                                    <li>✔ No Editable Vector AI File</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$199</h2>
                                                <p>Deluxe</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img3.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="">Features</h3>
                                                <ul>
                                                    <li>✔ Unlimited Logo Design Concepts</li>
                                                    <li>✔ By 8 Experienced Designer</li>
                                                    <li>✔ Unlimited Revisions</li>

                                                    <li>✔ Dedicated Project Manager</li>
                                                    <li>✔ 24 - 48 Hours Delivery</li>
                                                </ul>
                                            </div>
                                            <div class="get-section">
                                                <h3>What you will Get?</h3>
                                                <ul>
                                                    <li>✔ 1 Finalized Logo</li>
                                                    <li>✔ Copyrights & Ownership</li>
                                                    <li>✔ Online . JPEG & .PNG Files</li>
                                                    <li>✔ Print Ready .PDF File</li>
                                                    <li>✔ Vector .EPS File</li>
                                                    <li>✔ Editable Vector .AI File</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab_container4">
                        <div class="row">
                            <div class="col-3">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$99</h2>
                                                <p>Starter</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img4.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="mt-4">Features</h3>
                                                <ul>

                                                    <li>✔ Business Card Design</li>
                                                    <li>✔ Letter head Design</li>
                                                    <li>✔ Envelope Design</li>
                                                    <li>✔ MS Word Letterhead</li>
                                                    <li>✔ Email Signature Design</li>
                                                    <li>✔ Invoice Design</li>
                                                    <li>✔ Facebook Banner Design</li>
                                                    <li>✔ Youtube Banner Design</li>
                                                    <li>✔ Twitter Banner Design</li>
                                                    <li>✔ Linkedin Banner Design</li>
                                                    <li>✔ Logo Watermark</li>

                                                </ul>
                                            </div>

                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$139</h2>
                                                <p>Essential</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img2.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="mt-4">Features</h3>
                                                <ul>

                                                    <li>✔ Business Card Design</li>
                                                    <li>✔ Letter head Design</li>
                                                    <li>✔ Envelope Design</li>
                                                    <li>✔ MS Word Letterhead</li>
                                                    <li>✔ Email Signature Design</li>
                                                    <li>✔ Invoice Design</li>
                                                    <li>✔ Facebook Banner Design</li>
                                                    <li>✔ Youtube Banner Design</li>
                                                    <li>✔ Twitter Banner Design</li>
                                                    <li>✔ Linkedin Banner Design</li>
                                                    <li>✔ Logo Watermark</li>
                                                    <li>✔ Favicon Design</li>
                                                    <li>✔ Polo/T-Shirt Design</li>
                                                    <li>✔ Cap/Hat Design</li>

                                                </ul>
                                            </div>

                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$249</h2>
                                                <p>Professional</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img1.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="mt-4">Features</h3>
                                                <ul>

                                                    <li>✔ Business Card Design</li>
                                                    <li>✔ Letter head Design</li>
                                                    <li>✔ Envelope Design</li>
                                                    <li>✔ MS Word Letterhead</li>
                                                    <li>✔ Email Signature Design</li>
                                                    <li>✔ Invoice Design</li>
                                                    <li>✔ Facebook Banner Design</li>
                                                    <li>✔ Youtube Banner Design</li>
                                                    <li>✔ Twitter Banner Design</li>
                                                    <li>✔ Linkedin Banner Design</li>
                                                    <li>✔ Logo Watermark</li>
                                                    <li>✔ Favicon Design</li>
                                                    <li>✔ Polo/T-Shirt Design</li>
                                                    <li>✔ Cap/Hat Design</li>
                                                    <li>✔ Bag Design</li>
                                                    <li>✔ Signage Design</li>
                                                    <li>✔ Flyer Design</li>

                                                </ul>
                                            </div>

                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$299</h2>
                                                <p>Corporate</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img3.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="mt-4">Features</h3>
                                                <ul>

                                                    <li>✔ Business Card Design</li>
                                                    <li>✔ Letter head Design</li>
                                                    <li>✔ Envelope Design</li>
                                                    <li>✔ MS Word Letterhead</li>
                                                    <li>✔ Email Signature Design</li>
                                                    <li>✔ Invoice Design</li>
                                                    <li>✔ Facebook Banner Design</li>
                                                    <li>✔ Youtube Banner Design</li>
                                                    <li>✔ Twitter Banner Design</li>
                                                    <li>✔ Linkedin Banner Design</li>
                                                    <li>✔ Logo Watermark</li>
                                                    <li>✔ Favicon Design</li>
                                                    <li>✔ Polo/T-Shirt Design</li>
                                                    <li>✔ Cap/Hat Design</li>
                                                    <li>✔ Bag Design</li>
                                                    <li>✔ Signage Design</li>
                                                    <li>✔ Flyer Design</li>
                                                    <li>✔ Car Wrap/Vinyl Design</li>
                                                    <li>✔ PPT Design</li>
                                                    <li>✔ Magnet Design</li>
                                                    <li>✔ Door Sign Design</li>
                                                    <li>✔ Menu Design</li>
                                                    <li>✔ Mug/Cup Design</li>

                                                </ul>
                                            </div>

                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-center mt-5">
                    <a class="commonBTN2" href="/price-plans">
                        Pocket - Plans
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="our_approach_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5 text-center">
                    <h2 class="heading-title text-white">Workflow</h2>
                    <h1 class="heading heading-h3 text-white">Our 360 Degree
                        Creative Process</h1>
                </div>
            </div>
            <div class="row workflow-sec">
                <div class="workflow-sec-container">
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-1">
                            <div class="workflow-number"> 01 </div> <img src="/images/newImg/workprocess-1.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Brief</h3>
                        <p class="text-white">Good listening and intriguing questions makes our process unique. You
                            just need to share your idea and it's our job to boost it with our decades of
                            experience.</p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-2">
                            <div class="workflow-number"> 02 </div> <img src="/images/newImg/workprocess-2.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Ideation</h3>
                        <p class="text-white">Our team of compassionate creative designers and brand strategists
                            ideate and discuss on shaping up your idea into a hard hitting success.</p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-3">
                            <div class="workflow-number"> 03 </div> <img src="/images/newImg/workprocess-3.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Execution</h3>
                        <p class="text-white">We execute when we are more than satisfied with the future outcome of
                            our effort. Good news - your business is about to rake in huge success with our digital
                            design and branding services</p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-4">
                            <div class="workflow-number"> 04 </div> <img src="/images/newImg/website-w.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Delivery</h3>
                        <p class="text-white">We promise to deliver your project before time. Once your project is
                            dispatched from our side, we keep track of your feedback and satisfaction till you have
                            a wide satisfactory smile for us. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5 text-center">
                    <h2 class="heading-title text-white">Testimonials</h2>
                    <h1 class="heading heading-h3 text-white">Elevate Your Brand Awareness with a Simple Call to Us
                    </h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                        Reach out to us, and let's amplify your brand awareness together, creating a lasting impact
                        in the market with the endorsement of satisfied customer reviews.
                    </h6>
                </div>
            </div>
            <div class="swiper swiperlastSlider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="/images/lastslide1.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Best Logo Design</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    After researching the best Business logo design company for my
                                                    company, I
                                                    came
                                                    across this one. I must say it has been fantastic working with
                                                    Jack Daniel
                                                    as he
                                                    has listened to my ideas and come up with the best product. I
                                                    would
                                                    recommend
                                                    this website to anyone! Im more than happy with my Business
                                                    logo.
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="/images/newImg/clint-1.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Jake L</h2>
                                                <p>
                                                    Opt Manager
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="/images/lastslide.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Great find, I'd use them again in a heartbeat!</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    I needed a new logo design for my small business. These guys
                                                    could not have been easier to work with and the result was far
                                                    beyond my expectation. I would absolutely use them again!
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="/images/newImg/clint-2.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Sue Sasseen</h2>
                                                <p>
                                                    CEO
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="/images/lastslide2.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Jack Daniel did an excellent job.</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    Jack Daniel did an excellent job designing a logo for my
                                                    company. Looking forward to designing web site with him.
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="/images/newImg/clint-3.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Harvey Harris</h2>
                                                <p>
                                                    Manager
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>



</section>


<%- include('partials/footer') %>