<%- include('partials/header') %>

<section class="main_container">


    <!-------------------------- banner-------------------------- -->
    <!-------------------------- banner-------------------------- -->

    <section class="banner">
        <div class="innerBanner">

            <div class="home-banner-video">
                <video autoplay="" muted="" loop="" src="/images/newImg/video-amination-video.mp4"
                    type="video/mp4"></video>
            </div>

            <div class="bannerContent" data-aos="fade-up" data-aos-duration="800">
                <div>
                    <h1 class="heading heading-h1 text-white font-120">Storifying businesses with
                        vivid animated videos</h1>
                    <p class="text-white ">
                        Crafting animated videos is our passion and it takes
                        heaps of happening, streaks of sketching and beats
                        of brainstorming to create starry animations.
                    </p>
                </div>

            </div>
            <div class="container logoSwiperMarginTop forLogoWidth">
                <div class="swiper logoSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/1.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/2.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/3.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/4.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/5.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/1.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/2.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/3.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="/images/4.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>

    <section class="award_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5">
                    <h2 class="heading-title text-white">VIDEO TYPE</h2>
                    <h1 class="heading heading-h3 text-white">
                        Emotionalized explainer videos <br />
                        conveying your business goals
                    </h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                        Encourage more views, increase lead conversion, engage your target audience and
                        boost your business views with animated videos. We animate to explain and our
                        reputation speaks loud.
                    </h6>
                    <p class="text-white mb--10 desc">
                        Animated videos are all about creativity at its prime. They are ideal for conveying your
                        business goals and message within seconds. At Logura, we create animated videos to boost
                        your business’s visibility all across the online fraternity.

                        Video animation isn't an easy catch - reason being the nitty gritty details involved in it.
                        With every curve and edge of the character or an object sketched perfectly, animated videos
                        are highly sensitive but don't worry, we have been animating businesses since years.
                        We have a team of animation artists fueled with distinctive ability to drive sales and hit
                        the business goal via creating insight oriented animation videos. Plan your next animation
                        video with us and witness an extensively increased CTR on your website.
                    </p>
                </div>
            </div>

            <div class="tab_sec1">
                <ul class="tab_navigation1">
                    <li class="a commonBTN4">
                        2D Video
                    </li>
                    <li class="b commonBTN4">
                        3D Video
                    </li>
                    <li class="c commonBTN4">
                        Whiteboard
                    </li>
                    <li class="d commonBTN4">
                        Explainer
                    </li>
                </ul>
                <div class="tab_container_area">
                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">2D Video Animation</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">Animate videos with flat
                                        characters and design</h6>
                                    <p>
                                        2D video animation is mostly used for advertising a service or product
                                        without delving into the details heavily. It needs a script to be played
                                        with the support of objects and characters. 2D video animation is
                                        challenging as it has less elements to play with yet needs to be pitched
                                        right on the spot to boost the message of any product or service. However,
                                        at Logura, we ensure maximum reach, outbound quality of animation and
                                        optimized screenplay to seal the deal with clients.
                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Video
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div class="borderRadiusImg">
                                    <img src="/images/Video_Animation/2d-character.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">3D Video Animation</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">Modern day video animation with
                                        supreme visuals
                                    </h6>
                                    <p>
                                        3D video animation speaks and displays engagement at its full swing. It
                                        pulls off the interest of your target audience to the maximum with its
                                        highly detailed objects, frames, characters and everything that is to be
                                        animated. 3D animated videos convey your brand’s story in high pitch and
                                        aggressively knitted tone. If you are planning to pitch your product or
                                        service in seconds, 3D animated videos are one of the best choices you can
                                        ever make. Furthermore, pick Logura and experience an exponentially
                                        increased view count on your 3D animated videos.
                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Video
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div class="borderRadiusImg">
                                    <img src="/images/Video_Animation/Wedding.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">Whiteboard Animations</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">Create engaging presentations
                                        and on-point instructional videos</h6>
                                    <p>
                                        Whiteboard animation videos are highly appreciated these days for a sole
                                        reason - they work wonders when it comes to present something concise and
                                        clearly. This video medium is majorly used for sales presentations, step by
                                        step procedures, courses, etc. If you are planning to go for whiteboard
                                        animation video, keep Logura in your mind to get results that not only meet
                                        but exceed your expectations. Our team of whiteboard animators know how to
                                        pour creativity, content, visuals and /images beautifully.
                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Custom Logo
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div class="borderRadiusImg">
                                    <img src="/images/Video_Animation/whiteboard.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">Explainer Videos</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">Explain whatever you need to
                                        with the popular explainer videos</h6>
                                    <p>
                                        Compelling visuals, inspirational characters, movable objects and beautiful
                                        scenarios, this is what explainer videos feel and look like. They are
                                        popular for delivering highest engagement and conversion rate. Animating
                                        explainer videos is professionalism and creativity at its peak and at
                                        Logura, we have been delivering money raking explainer videos for years. Our
                                        master animation artists speak, eat and repeat developing explainer videos
                                        and we have a dedicated team for this domain.
                                    </p>
                                    <div class="flexx btns">
                                        <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Video
                                            </a>
                                        </div>
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div class="borderRadiusImg">
                                    <img src="/images/Video_Animation/explainer.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="award_sec">
        <div class="">
            <div class="top-content-award">
                <div class="pt-5">
                    <h2 class="heading-title text-white">Portfolio</h2>
                    <h1 class="heading heading-h3 text-white">
                        Stellar animation displaying <br />
                        beautiful moves
                    </h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                        Our animated video crafting team unlocks new potential of engagement everyday,
                        all for your business.
                    </h6>
                </div>
            </div>

            <div class="tab_sec1">
                <ul class="tab_navigation3">
                    <li class="a commonBTN4">
                        All
                    </li>
                    <li class="b commonBTN4">
                        Logo Animation
                    </li>
                    <li class="c commonBTN4">
                        2D Animation
                    </li>
                    <li class="d commonBTN4">
                        White Board
                    </li>

                </ul>
                <div class="tab_container_area">
                    <div class="tab_container3 All">
                        <div class="custom_row">
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/aA8oNZ8qjls?si=F6Wiqa6y4bSB1ARP" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/01.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>

                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/6BJIA8X3fpU?si=HlaZ2-aOgOMkMWu5" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/02.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/ddJGk-yBH8U?si=0uHuYosNlRUnfKtx" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/03.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/V0GEu2sGmYQ?si=K42koyyicUJjV0vD" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/04.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/4m7enLJDzZo?si=s5ZHiL38wPTF8sBc" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/05.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/4m7enLJDzZo?si=t4R3MROP9Sax2Hpb" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/06.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/XZq0n2K3r2w?si=nLeoMzkfAaWpyVBU" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/07.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/una04IsJk9k?si=LJwcgD30REm_gdjR" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/08.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/Rvc68RrPJq8?si=Hg-R6qCXb-zmypAI" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/09.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/lbmvf6lfSqI?si=cUbaYpnqoq99qw1C" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/010.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab_container3 branding">
                        <div class="custom_row">
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/lVim6U8PYGE?si=Twa0_8e0ZPGfwmaG" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/new1.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/zZ82Xhw-Voo?si=zj3o6f9I4Akawfw9" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/new2.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/2sIUrgxeCdI?si=dntpw_W2IW3IzUZ4" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/new3.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/UEWc2RgjXSc?si=HeoYV0maOqojvLpS" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/new4.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/dzjR0YAqE5Q?si=6ruFbk70_NBR3Zdi" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/new5.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/g3K76guWdMk?si=FEApGjpeFHTxJnvO" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/new6.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/FyA1Z4mIFaM?si=M6oIc3fAvnismkmv" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/new7.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/QorghYrY2Is?si=dHa5Fk6RcarKIbnp" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/new8.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/La4utSXgG44?si=kvyGKJRtS2BFfu0A" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/new9.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab_container3 website">
                        <div class="custom_row">
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/aA8oNZ8qjls?si=F6Wiqa6y4bSB1ARP" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/01.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/ddJGk-yBH8U?si=0uHuYosNlRUnfKtx" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/03.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/4m7enLJDzZo?si=s5ZHiL38wPTF8sBc" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/05.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/XZq0n2K3r2w?si=nLeoMzkfAaWpyVBU" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/07.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/Rvc68RrPJq8?si=Hg-R6qCXb-zmypAI" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/09.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab_container3 Video_Animation">
                        <div class="custom_row">
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/lbmvf6lfSqI?si=cUbaYpnqoq99qw1C" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/010.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/una04IsJk9k?si=LJwcgD30REm_gdjR" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/08.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/4m7enLJDzZo?si=t4R3MROP9Sax2Hpb" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/06.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/V0GEu2sGmYQ?si=K42koyyicUJjV0vD" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/04.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/6BJIA8X3fpU?si=HlaZ2-aOgOMkMWu5" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/02.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="lightBoxPopup">
                <div class="lightBoxPopupInner">

                </div>
            </div>
        </div>
    </section>

    <div class="container award_sec ">
        <div class="top-content-award text-center">
            <div>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
            <p>
                Folks think we're rad. We're rated 4.8/5 from 100+ customer reviews.
            </p>
            <a class="commonBTN2" href="javascript:;">
                Explore More Here
            </a>
        </div>
    </div>

    <section class="award_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5">
                    <h2 class="heading-title text-white">Pricing</h2>
                    <h1 class="heading heading-h3 text-white">Inspiring Designs With <br />
                        Pocket-Friendly Pricing</h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">Affordable yet unique digital
                        creative and design services that are tailor-made
                        according to your personalized needs. We mean your business.</h6>
                </div>
            </div>

            <div class="tab_sec2">
                <div class="tab_container_area">
                    <div class="tab_container2 mt-5 mb-5">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$499</h2>
                                                <p>Basic</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img4.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <ul>
                                                    <li>✔ 60 seconds</li>

                                                </ul>
                                                <h3 class="">Custom Work</h3>
                                                <ul>
                                                    <li>✔ Script Writing</li>
                                                    <li>✔ Detail Storyboard</li>
                                                    <li>✔ Professional Voice over</li>
                                                    <li>✔ Impressive Animation</li>
                                                    <li>✔ Royalty free BG & SFX</li>

                                                </ul>
                                                <h3 class="">More Features</h3>
                                                <ul>
                                                    <li>✔ File Delivered in HD 720p</li>
                                                    <li>✔ 3 round of revisions in each phase</li>
                                                    <li>✔ 4 weeks Deadline</li>
                                                    <li>✔ 100% satisfaction</li>
                                                    <li>✔ 100% Ownership Rights</li>
                                                </ul>
                                                <h3 class="">What you will Get?</h3>
                                                <ul>
                                                    <li>✔ MP4</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$799</h2>
                                                <p>Standard</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img4.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <ul>
                                                    <li>✔ 60 seconds</li>

                                                </ul>
                                                <h3 class="">Custom Work</h3>
                                                <ul>
                                                    <li>✔ Script Writing</li>
                                                    <li>✔ storyboarding</li>
                                                    <li>✔ Detail Storyboard</li>
                                                    <li>✔ Professional Voice over</li>
                                                    <li>✔ Impressive Animation</li>
                                                    <li>✔ Royalty free BG & SFX</li>

                                                </ul>
                                                <h3 class="">More Features</h3>
                                                <ul>
                                                    <li>✔ File Delivered in HD 720p</li>
                                                    <li>✔ 3 round of revisions in each phase</li>
                                                    <li>✔ 3 weeks Deadline</li>
                                                    <li>✔ 100% satisfaction</li>
                                                    <li>✔ 100% Ownership Rights</li>
                                                </ul>
                                                <h3 class="">What you will Get?</h3>
                                                <ul>
                                                    <li>✔ MP4, MOV</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$999</h2>
                                                <p>Prime</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img4.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <ul>
                                                    <li>✔ 60 seconds</li>

                                                </ul>
                                                <h3 class="">Custom Work</h3>
                                                <ul>
                                                    <li>✔ Script Writing</li>
                                                    <li>✔ storyboarding</li>
                                                    <li>✔ Detail Storyboard</li>
                                                    <li>✔ Professional Voice over</li>
                                                    <li>✔ Impressive Animation</li>
                                                    <li>✔ Royalty free BG & SFX</li>

                                                </ul>
                                                <h3 class="">More Features</h3>
                                                <ul>
                                                    <li>✔ File Delivered in HD 1080p</li>
                                                    <li>✔ Multiple Revisions in each phase</li>
                                                    <li>✔ 2 weeks Deadline</li>
                                                    <li>✔ Dedicated Project Manager</li>
                                                    <li>✔ 100% satisfaction</li>
                                                    <li>✔ 100% Ownership Rights</li>
                                                </ul>
                                                <h3 class="">What you will Get?</h3>
                                                <ul>
                                                    <li>✔ MP4, MOV, WAV</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$1499</h2>
                                                <p>Deluxe</p>
                                            </div>
                                            <div class="">
                                                <img src="/images/tab2img4.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <ul>
                                                    <li>✔ 60 seconds</li>

                                                </ul>
                                                <h3 class="">Custom Work</h3>
                                                <ul>
                                                    <li>✔ 2 Concepts + premium scriptwriting</li>
                                                    <li>✔ storyboarding</li>
                                                    <li>✔ Detail Storyboard</li>
                                                    <li>✔ Professional Voice over</li>
                                                    <li>✔ Impressive Animation</li>
                                                    <li>✔ Royalty free BG & SFX</li>

                                                </ul>
                                                <h3 class="">More Features</h3>
                                                <ul>
                                                    <li>✔ File Delivered in HD 1080p</li>
                                                    <li>✔ Unlimited revisions</li>
                                                    <li>✔ 6 weeks Deadline</li>
                                                    <li>✔ Dedicated Project Manager</li>
                                                    <li>✔ 100% satisfaction</li>
                                                    <li>✔ 100% Ownership Rights</li>
                                                    <li>✔ Source File</li>
                                                </ul>
                                                <h3 class="">What you will Get?</h3>
                                                <ul>
                                                    <li>✔ MP4, MOV, WAV, GIF</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <a class="commonBTN2" href="javascript:;">
                        Pocket - Plans
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="our_approach_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5 text-center">
                    <h2 class="heading-title text-white">Workflow</h2>
                    <h1 class="heading heading-h3 text-white">Our Holistic Creative Approach</h1>
                </div>
            </div>
            <div class="row workflow-sec">
                <div class="workflow-sec-container">
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-1">
                            <div class="workflow-number"> 01 </div> <img src="/images/newImg/workprocess-1.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Analyzing</h3>
                        <p class="text-white">Our analytical prowess shines in this process as our dedicated team
                            delves deep into data, extracting valuable insights to inform strategic decisions and
                            elevate your overall performance.</p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-2">
                            <div class="workflow-number"> 02 </div> <img src="/images/newImg/workprocess-2.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Brainstorming</h3>
                        <p class="text-white">We spark creativity in our brainstorming sessions, generating
                            innovative ideas that form the foundation for your unique and impactful solutions.</p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-3">
                            <div class="workflow-number"> 03 </div> <img src="/images/newImg/workprocess-3.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Execution</h3>
                        <p class="text-white">We bring plans to life through flawless execution, where we leverage
                            precision and expertise to turn concepts into reality, ensuring your vision becomes a
                            tangible success.</p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-4">
                            <div class="workflow-number"> 04 </div> <img src="/images/newImg/website-w.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Delivery</h3>
                        <p class="text-white">In our delivery phase, we pride ourselves on ensuring seamless and
                            timely execution, bringing your vision to fruition with precision and excellence. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5 text-center">
                    <h2 class="heading-title text-white">Testimonials</h2>
                    <h1 class="heading heading-h3 text-white">
                        Elevate Your Brand Awareness with a Simple Call to Us
                    </h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                        Reach out to us, and let's amplify your brand awareness together, creating a lasting impact in the market with the endorsement of satisfied customer reviews.
                    </h6>
                </div>
            </div>
            <div class="swiper swiperlastSlider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="/images/lastslide1.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Best Logo Design</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    After researching the best Business logo design company for my
                                                    company, I
                                                    came
                                                    across this one. I must say it has been fantastic working with
                                                    Jack Daniel
                                                    as he
                                                    has listened to my ideas and come up with the best product. I
                                                    would
                                                    recommend
                                                    this website to anyone! Im more than happy with my Business
                                                    logo.
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="/images/newImg/clint-1.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Jake L</h2>
                                                <p>
                                                    Opt Manager
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="/images/lastslide.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Best Logo Design</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    After researching the best Business logo design company for my
                                                    company, I
                                                    came
                                                    across this one. I must say it has been fantastic working with
                                                    Jack Daniel
                                                    as he
                                                    has listened to my ideas and come up with the best product. I
                                                    would
                                                    recommend
                                                    this website to anyone! Im more than happy with my Business
                                                    logo.
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="/images/newImg/clint-2.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Sue Sasseen</h2>
                                                <p>
                                                    CEO
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="/images/lastslide2.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Jack Daniel did an excellent job.</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    Jack Daniel did an excellent job designing a logo for my
                                                    company. Looking forward to designing web site with him.
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="/images/newImg/clint-3.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Harvey Harris</h2>
                                                <p>Manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>



</section>

<%- include('partials/footer') %>