

    <%- include('partials/header') %>
    <section class="main_container">


        <!-------------------------- banner-------------------------- -->
        <!-------------------------- banner-------------------------- -->

        <section class="banner">
            <div class="innerBanner">
                <div class="shape-red">
                    <img src="/images/shape-red.webp" alt="">
                </div>
                <div class="shape-yellow">
                    <img src="/images/shape-yellow.webp" alt="">
                </div>
                
                <div class="home-banner-video">
                    <video autoplay="" muted="" loop="" src="/images/newImg/video8.mp4" type="video/mp4"></video>
                </div>

                <div class="bannerContent" data-aos="fade-up" data-aos-duration="800">
                    <div>
                        <h1 class="heading heading-h1 text-white font-120">Custom Business Logo <br> Designs Made
                            With <img src="/images/newImg/heart.webp" class="heart-img"></h1>
                        <div class="black-bg-banner-2">
                            <h2 class="heading heading-h6 text-white letter-spacing-1 line-height-1-5 ">
                                Get an Amazing Business Logo Designed<br>With Passion And Proficiency</h2>
                            <div class="slider-btn">
                                <form id="businessForm">
                                    <i class="bi bi-pencil-fill"></i>
                                    <input type="text" name="cname" id="cname" placeholder="Enter Your Business Name"
                                        class="banner-input-field" required="" autofocus="">
                                    <input type="submit" value="Start Now" id="nextButton" class="commonBTN1">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container logoSwiperMarginTop forLogoWidth">
                    <div class="swiper logoSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/1.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/2.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/3.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/4.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/5.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/1.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/2.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/3.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="logoSlide">
                                    <div><img src="/images/4.webp" alt="logo Slide"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </section>


        <section class="portfolio_sec">
            <div class="container">
                <div class="circle">
                    <img src="/images/circle.webp" alt="circle">
                </div>
                <div class="text-center">
                    <div class="basic-modern-dots white-dots" id="banner-dots-link">
                        <div class="dot first-circle"></div>
                        <div class="dot second-circle"></div>
                        <div class="dot third-circle"></div>
                    </div>
                    <div>
                        <h2 class="heading-title text-white">Portfolio</h2>
                        <h1 class="heading heading-h3 text-white">Business Logo Designs Speaking Loud</h1>
                        <h6 class="heading heading-h6 text-white letter-spacing-1">Our creative artists add value to
                            your business by creating stunning<br>Business logos that get engraved in your audience’s
                            mind</h6>
                    </div>
                </div>
            </div>
        </section>

        <section class="leftRightSlider_sec">
            <div class="swiper logoSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo1.webp" data-lightbox="logoSwiper">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo1.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo2.webp" data-lightbox="logoSwiper">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo2.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo3.webp" data-lightbox="logoSwiper">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo3.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo4.webp" data-lightbox="logoSwiper">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo4.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo5.webp" data-lightbox="logoSwiper">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo5.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo6.webp" data-lightbox="logoSwiper">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo6.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo7.webp" data-lightbox="logoSwiper">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo7.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo8.webp" data-lightbox="logoSwiper">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo8.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="swiper logoSwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo9.webp" data-lightbox="logoSwiper2">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo9.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo10.webp" data-lightbox="logoSwiper2">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo10.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo11.webp" data-lightbox="logoSwiper2">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo11.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo12.webp" data-lightbox="logoSwiper2">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo12.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo13.webp" data-lightbox="logoSwiper2">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo13.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo14.webp" data-lightbox="logoSwiper2">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo14.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo15.webp" data-lightbox="logoSwiper2">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo15.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="logoSlide">
                            <div class="innerLogoSlide">
                                <a href="/images/logo10.webp" data-lightbox="logoSwiper2">
                                    <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div>
                                    <img src="/images/logo10.webp" alt="logo Slide">
                                </a>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </section>

        <section class="award_sec">
            <div class="container">
                <div class="top-content-award">
                    <div>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        Folks think we're rad. We're rated 4.8/5 from 100+ customer reviews.
                    </p>
                    <a class="commonBTN2" href="/portfolio">
                        Explore More Here
                    </a>
                    <div class=" pt-5 ">
                        <h2 class="heading-title text-white">Services</h2>
                        <h1 class="heading heading-h3 text-white">Attract.Aware.Convert.Retain</h1>
                        <h6 class="heading heading-h6 text-white letter-spacing-1">The four pillars of our digital
                            branding design and strategy. We market to quench your <br /> thirst of ROI. We master the
                            art of digital optimization and conversion.</h6>
                    </div>
                </div>

                <div class="tab_sec1">
                    <ul class="tab_navigation">
                        <li class="a">

                            <img src="/images/tablogo-w.png" class="white-icons">
                            <img src="/images/tablogo.png" class="pink-icons">
                            <div class="tab-name">Logo &amp; Branding</div>

                        </li>
                        <li class="b">

                            <img src="/images/website-w.png" class="white-icons">
                            <img src="/images/website.png" class="pink-icons">
                            <div class="tab-name">Web &amp; Development</div>

                        </li>
                        <li class="c">

                            <img src="/images/video-w.png" class="white-icons">
                            <img src="/images/video.png" class="pink-icons">
                            <div class="tab-name">Video &amp; Animation</div>

                        </li>
                        <li class="d">

                            <img src="/images/dm-w.png" class="white-icons">
                            <img src="/images/dm.png" class="pink-icons">
                            <div class="tab-name">Digital &amp; Marketing</div>

                        </li>

                    </ul>
                    <div class="tab_container_area">
                        <div class="tab_container p1">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <h1 class="heading heading-h3 ">Business Logo Design And Branding</h1>
                                        <h6 class="heading heading-h6  letter-spacing-1">Get your brand noticed at the -
                                            First Sight.</h6>
                                        <p>
                                            We dwell down your industry design standards to create a Business logo
                                            design that exceeds your expectations and gets fused in your client’s
                                            thoughts. <br /><br />
                                            Yes, that’s how we get your brand recalled. Our innovative Business logo
                                            designers and edge artists are passionate about giving your business an
                                            identity that sets the bar of your industry. <br /><br />
                                            We’ve been building brands since decades and with our extensively
                                            experienced brand developers, we are known in the industry for delivering
                                            creative designs and campaigns that make your digital design presence roar
                                            loud.
                                        </p>
                                        <div class="flexx btns">
                                            <div>
                                                <a class="commonBTN2" href="javascript:;">
                                                    Get A Business Logo
                                                </a>
                                            </div>
                                            <div>
                                                <a class="commonBTN3" href="javascript:;">
                                                    <i class="bi bi-chat-dots-fill"></i> Live Chat
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="tabs_unIMG">
                                        <img src="/images/tab1service-img-lb.webp" alt="service-img-lb">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab_container p2">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <h1 class="heading heading-h3 ">Crisp Web Development</h1>
                                        <h6 class="heading heading-h6  letter-spacing-1">
                                            Strong backend, beautiful front-end - Inspiring Website.
                                        </h6>
                                        <p>
                                            We create websites with feel and zeal. Our web development geeks hunt top
                                            layouts, beautiful custom design and robust code to build your business
                                            website on a level that is literally unmatched. Yes, we mean it!
                                            <br /><br />
                                            Be it a swift user interface, stunning visuals, clear design or rich user
                                            experience, our goal is to make an impact on everyone who checks in. Witness
                                            an increased conversion rate and low bounce rate with our accurate content
                                            placement and stunning design elements.

                                        </p>
                                        <div class="flexx btns">
                                            <div>
                                                <a class="commonBTN2" href="javascript:;">
                                                    Get A Business Logo
                                                </a>
                                            </div>
                                            <div>
                                                <a class="commonBTN3" href="javascript:;">
                                                    <i class="bi bi-chat-dots-fill"></i> Live Chat
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="tabs_unIMG">
                                        <img src="/images/tab2website.webp" alt="website">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab_container p3">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <h1 class="heading heading-h3 ">Spontaneous Video Animation</h1>
                                        <h6 class="heading heading-h6  letter-spacing-1">
                                            Brain works with /images - Our Mantra of Video Animation.
                                        </h6>
                                        <p>
                                            Creating highly engaging videos since forever. Our vision behind the video
                                            animation service is on point. We create to convey. Yes, we own our words.
                                            Our animated videos convey your business within moments and this is why we
                                            are popular in the video animation industry. <br /><br />
                                            We toast creativity with freedom and garnish it with appraised colors. The
                                            result? Engaging, interactive and impecular videos meant to chip in the eye
                                            balls you need for your business. Let’s create an awesome video for you.

                                        </p>
                                        <div class="flexx btns">
                                            <div>
                                                <a class="commonBTN2" href="javascript:;">
                                                    Get A Business Logo
                                                </a>
                                            </div>
                                            <div>
                                                <a class="commonBTN3" href="javascript:;">
                                                    <i class="bi bi-chat-dots-fill"></i> Live Chat
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="tabs_unIMG">
                                        <img src="/images/tab3video.webp" alt="3video">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab_container p4">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div>
                                        <h1 class="heading heading-h3 ">Viralizing Digital Marketing</h1>
                                        <h6 class="heading heading-h6  letter-spacing-1">
                                            Digital marketing is about the right reach - We Guarantee It.
                                        </h6>
                                        <p>
                                            Our inspiring track record of massively successful digital marketing
                                            campaigns is the competition for us but guess what? We beat it by miles with
                                            every other campaign. Be it Pay per click, SEO optimization, social media
                                            marketing, content marketing, or content publishing, we excel all of it and
                                            we own our words. <br /><br />
                                            Our team of genius digital marketers know how to skyrocket your business
                                            with the right digital marketing strategies. Trust us and we will never let
                                            you fall.

                                        </p>
                                        <div class="flexx btns">
                                            <div>
                                                <a class="commonBTN2" href="javascript:;">
                                                    Get A Business Logo
                                                </a>
                                            </div>
                                            <div>
                                                <a class="commonBTN3" href="javascript:;">
                                                    <i class="bi bi-chat-dots-fill"></i> Live Chat
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <div class="tabs_unIMG">
                                        <img src="/images/tab4dm2.webp" alt="dm">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </section>

        <section class="award_sec">
            <div class="container">
                <div class="top-content-award">
                    <div class="pt-5">
                        <h2 class="heading-title text-white">Pricing</h2>
                        <h1 class="heading heading-h3 text-white">Inspiring Designs With <br />
                            Pocket-Friendly Pricing</h1>
                        <h6 class="heading heading-h6 text-white letter-spacing-1">Affordable yet unique digital
                            creative and design services that are tailor-made
                            according to your personalized needs. We mean your business.</h6>
                    </div>
                </div>

                <div class="tab_sec1">
                    <ul class="tab_navigation1">
                        <li class="a commonBTN4">
                            Logo Design
                        </li>
                        <li class="b commonBTN4">
                            Branding
                        </li>
                        <li class="c commonBTN4">
                            Website
                        </li>
                        <li class="d commonBTN4">
                            Video Animation
                        </li>

                    </ul>
                    <div class="tab_container_area">
                        <div class="tab_container1">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$49</h2>
                                                    <p>Basic</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img4.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="">Features</h3>
                                                    <ul>
                                                        <li>✔ 2 Logo Design Concepts</li>
                                                        <li>✔ By 1 Experienced Designer</li>
                                                        <li>✔ 4 Free Revisions</li>
                                                        <li>✔ Dedicated Project Manager</li>
                                                        <li>✔ 24 - 48 Hours Delivery</li>
                                                    </ul>
                                                </div>
                                                <div class="get-section">
                                                    <h3>What you will Get?</h3>
                                                    <ul>
                                                        <li>✔ 1 Finalized Logo</li>
                                                        <li>✔ No Copyright</li>
                                                        <li>✔ No Print Ready .PDF File</li>
                                                        <li>✔ No Vector .EPS File</li>
                                                        <li>✔ No Editable Vector .AI File</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$99</h2>
                                                    <p>Standard</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img2.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="">Features</h3>
                                                    <ul>
                                                        <li>✔ 4 Logo Design Concepts</li>
                                                        <li>✔ By 3 Experienced Designer</li>
                                                        <li>✔ 8 Free Revisions</li>
                                                        <li>✔ Dedicated Project Manager</li>
                                                        <li>✔ 24 - 48 Hours Delivery</li>
                                                    </ul>
                                                </div>
                                                <div class="get-section">
                                                    <h3>What you will Get?</h3>
                                                    <ul>
                                                        <li>✔ 1 Finalized Logo</li>
                                                        <li>✔ Copyrights & Ownership</li>
                                                        <li>✔ Online . JPEG & .PNG Files</li>
                                                        <li>✔ Print Ready .PDF File</li>
                                                        <li>✔ No Vector .EPS File</li>
                                                        <li>✔ No Editable Vector .AI File</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$149</h2>
                                                    <p>Prime</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img1.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="">Features</h3>
                                                    <ul>
                                                        <li>✔ 6 Logo Design Concepts</li>
                                                        <li>✔ By 5 Experienced Designer</li>
                                                        <li>✔ Unlimited Revisions</li>
                                                        <li>✔ 8 Free Revisions</li>
                                                        <li>✔ Dedicated Project Manager</li>
                                                        <li>✔ 24 - 48 Hours Delivery</li>
                                                    </ul>
                                                </div>
                                                <div class="get-section">
                                                    <h3>What you will Get?</h3>
                                                    <ul>
                                                        <li>✔ Finalized Logo</li>
                                                        <li>✔ Copyrights & Ownership</li>
                                                        <li>✔ Online . JPEG & .PNG Files</li>
                                                        <li>✔ Print Ready .PDF File</li>
                                                        <li>✔ Vector .EPS File</li>
                                                        <li>✔ No Editable Vector AI File</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$199</h2>
                                                    <p>Deluxe</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img3.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="">Features</h3>
                                                    <ul>
                                                        <li>✔ Unlimited Logo Design Concepts</li>
                                                        <li>✔ By 8 Experienced Designer</li>
                                                        <li>✔ Unlimited Revisions</li>

                                                        <li>✔ Dedicated Project Manager</li>
                                                        <li>✔ 24 - 48 Hours Delivery</li>
                                                    </ul>
                                                </div>
                                                <div class="get-section">
                                                    <h3>What you will Get?</h3>
                                                    <ul>
                                                        <li>✔ 1 Finalized Logo</li>
                                                        <li>✔ Copyrights & Ownership</li>
                                                        <li>✔ Online . JPEG & .PNG Files</li>
                                                        <li>✔ Print Ready .PDF File</li>
                                                        <li>✔ Vector .EPS File</li>
                                                        <li>✔ Editable Vector .AI File</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab_container1">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$99</h2>
                                                    <p>Starter</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img4.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>

                                                        <li>✔ Business Card Design</li>
                                                        <li>✔ Letter head Design</li>
                                                        <li>✔ Envelope Design</li>
                                                        <li>✔ MS Word Letterhead</li>
                                                        <li>✔ Email Signature Design</li>
                                                        <li>✔ Invoice Design</li>
                                                        <li>✔ Facebook Banner Design</li>
                                                        <li>✔ Youtube Banner Design</li>
                                                        <li>✔ Twitter Banner Design</li>
                                                        <li>✔ Linkedin Banner Design</li>
                                                        <li>✔ Logo Watermark</li>

                                                    </ul>
                                                </div>

                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$139</h2>
                                                    <p>Essential</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img2.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>

                                                        <li>✔ Business Card Design</li>
                                                        <li>✔ Letter head Design</li>
                                                        <li>✔ Envelope Design</li>
                                                        <li>✔ MS Word Letterhead</li>
                                                        <li>✔ Email Signature Design</li>
                                                        <li>✔ Invoice Design</li>
                                                        <li>✔ Facebook Banner Design</li>
                                                        <li>✔ Youtube Banner Design</li>
                                                        <li>✔ Twitter Banner Design</li>
                                                        <li>✔ Linkedin Banner Design</li>
                                                        <li>✔ Logo Watermark</li>
                                                        <li>✔ Favicon Design</li>
                                                        <li>✔ Polo/T-Shirt Design</li>
                                                        <li>✔ Cap/Hat Design</li>

                                                    </ul>
                                                </div>

                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$249</h2>
                                                    <p>Professional</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img1.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>

                                                        <li>✔ Business Card Design</li>
                                                        <li>✔ Letter head Design</li>
                                                        <li>✔ Envelope Design</li>
                                                        <li>✔ MS Word Letterhead</li>
                                                        <li>✔ Email Signature Design</li>
                                                        <li>✔ Invoice Design</li>
                                                        <li>✔ Facebook Banner Design</li>
                                                        <li>✔ Youtube Banner Design</li>
                                                        <li>✔ Twitter Banner Design</li>
                                                        <li>✔ Linkedin Banner Design</li>
                                                        <li>✔ Logo Watermark</li>
                                                        <li>✔ Favicon Design</li>
                                                        <li>✔ Polo/T-Shirt Design</li>
                                                        <li>✔ Cap/Hat Design</li>
                                                        <li>✔ Bag Design</li>
                                                        <li>✔ Signage Design</li>
                                                        <li>✔ Flyer Design</li>

                                                    </ul>
                                                </div>

                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$299</h2>
                                                    <p>Corporate</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img3.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>

                                                        <li>✔ Business Card Design</li>
                                                        <li>✔ Letter head Design</li>
                                                        <li>✔ Envelope Design</li>
                                                        <li>✔ MS Word Letterhead</li>
                                                        <li>✔ Email Signature Design</li>
                                                        <li>✔ Invoice Design</li>
                                                        <li>✔ Facebook Banner Design</li>
                                                        <li>✔ Youtube Banner Design</li>
                                                        <li>✔ Twitter Banner Design</li>
                                                        <li>✔ Linkedin Banner Design</li>
                                                        <li>✔ Logo Watermark</li>
                                                        <li>✔ Favicon Design</li>
                                                        <li>✔ Polo/T-Shirt Design</li>
                                                        <li>✔ Cap/Hat Design</li>
                                                        <li>✔ Bag Design</li>
                                                        <li>✔ Signage Design</li>
                                                        <li>✔ Flyer Design</li>
                                                        <li>✔ Car Wrap/Vinyl Design</li>
                                                        <li>✔ PPT Design</li>
                                                        <li>✔ Magnet Design</li>
                                                        <li>✔ Door Sign Design</li>
                                                        <li>✔ Menu Design</li>
                                                        <li>✔ Mug/Cup Design</li>

                                                    </ul>
                                                </div>

                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab_container1">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2 class="leftTEXT">$299</h2>
                                                    <p>Single Page</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/htmlwebsite.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>

                                                        <li>✔ 1 Page Static Website</li>
                                                        <li>✔ W3C Certified HTML</li>
                                                        <li>✔ JQuery Slider Banner</li>
                                                        <li>✔ Mobile Responsive Layout</li>
                                                        <li>✔ JQuery Slider Banners</li>
                                                        <li>✔ Products/Services Section</li>
                                                        <li>✔ Portfolio/Gallery Section</li>
                                                        <li>✔ Contact Us Section</li>
                                                        <li>✔ Lead Inquiry Form</li>
                                                        <li>✔ Website Favicon Design</li>
                                                        <li>✔ Royalty Free Stock Image</li>
                                                        <li>✔ Advance UI & Effects</li>
                                                        <li>✔ Social Media Integrations</li>
                                                        <li>✔ Business Domain Emails</li>
                                                        <li>✔ LiveChat Tool Integration</li>
                                                        <li>✔ 3 Month LiveChat Agent</li>

                                                    </ul>
                                                </div>

                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2 class="leftTEXT">$499</h2>
                                                    <p>5 Page</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/htmlwebsite.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>

                                                        <li>✔ 5 Page Static Website</li>
                                                        <li>✔ W3C Certified HTML</li>
                                                        <li>✔ JQuery Slider Banner</li>
                                                        <li>✔ Mobile Responsive Layout</li>
                                                        <li>✔ JQuery Slider Banners</li>
                                                        <li>✔ Products/Services Section</li>
                                                        <li>✔ Portfolio/Gallery Section</li>
                                                        <li>✔ Contact Us Section</li>
                                                        <li>✔ Lead Inquiry Form</li>
                                                        <li>✔ 5 Website Favicon Design</li>
                                                        <li>✔ 5 Royalty Free Stock Image</li>
                                                        <li>✔ Advance UI & Effects</li>
                                                        <li>✔ Social Media Integrations</li>
                                                        <li>✔ Business Domain Emails</li>
                                                        <li>✔ LiveChat Tool Integration</li>
                                                        <li>✔ 3 Month LiveChat Agent</li>

                                                    </ul>
                                                </div>

                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0 ">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2 class="leftTEXT">$699</h2>
                                                    <p>8 Page</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/htmlwebsite.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>

                                                        <li>✔ 8 Page Static Website</li>
                                                        <li>✔ W3C Certified HTML</li>
                                                        <li>✔ JQuery Slider Banner</li>
                                                        <li>✔ Mobile Responsive Layout</li>
                                                        <li>✔ JQuery Slider Banners</li>
                                                        <li>✔ Products/Services Section</li>
                                                        <li>✔ Portfolio/Gallery Section</li>
                                                        <li>✔ Contact Us Section</li>
                                                        <li>✔ Lead Inquiry Form</li>
                                                        <li>✔ 8 Website Favicon Design</li>
                                                        <li>✔ 8 Royalty Free Stock Image</li>
                                                        <li>✔ Advance UI & Effects</li>
                                                        <li>✔ Social Media Integrations</li>
                                                        <li>✔ Business Domain Emails</li>
                                                        <li>✔ LiveChat Tool Integration</li>
                                                        <li>✔ 3 Month LiveChat Agent</li>

                                                    </ul>
                                                </div>

                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2 class="leftTEXT">$899</h2>
                                                    <p>12 Page</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/htmlwebsite.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>

                                                        <li>✔ 12 Page Static Website</li>
                                                        <li>✔ W3C Certified HTML</li>
                                                        <li>✔ JQuery Slider Banner</li>
                                                        <li>✔ Mobile Responsive Layout</li>
                                                        <li>✔ JQuery Slider Banners</li>
                                                        <li>✔ Products/Services Section</li>
                                                        <li>✔ Portfolio/Gallery Section</li>
                                                        <li>✔ Contact Us Section</li>
                                                        <li>✔ Lead Inquiry Form</li>
                                                        <li>✔ 12 Website Favicon Design</li>
                                                        <li>✔ 12 Royalty Free Stock Image</li>
                                                        <li>✔ Advance UI & Effects</li>
                                                        <li>✔ Social Media Integrations</li>
                                                        <li>✔ Business Domain Emails</li>
                                                        <li>✔ LiveChat Tool Integration</li>
                                                        <li>✔ 3 Month LiveChat Agent</li>

                                                    </ul>
                                                </div>

                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab_container1">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$399</h2>
                                                    <p>Basic</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img4.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>
                                                        <li>✔ 30s Duration - HD 1080</li>
                                                        <li>✔ 3 Rounds Of Edits Per Phase (Script, Storyboard, VO)</li>
                                                        <li>✔ Storyboard</li>
                                                        <li>✔ Sample Themes</li>

                                                    </ul>
                                                </div>
                                                <div class="get-section">
                                                    <h3>Paid Add-Ons</h3>
                                                    <ul>
                                                        <li>✔ Custom Setting, Characters & Graphics</li>
                                                        <li>✔ Animation Effects & Visualization</li>
                                                        <li>✔ MP4</li>

                                                    </ul>
                                                </div>
                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$499</h2>
                                                    <p>Startup</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img2.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>
                                                        <li>✔ 60 Second Video</li>
                                                        <li>✔ Professional Script</li>
                                                        <li>✔ Sample Theme</li>
                                                        <li>✔ Storyboard</li>
                                                        <li>✔ Animation</li>

                                                    </ul>
                                                </div>
                                                <div class="get-section">
                                                    <h3>Paid Add-Ons</h3>
                                                    <ul>
                                                        <li>✔ Voice - Over & Sound Effects</li>
                                                        <li>✔ 5 Weeks Delivery</li>
                                                        <li>✔ MP4, MOV</li>

                                                    </ul>
                                                </div>
                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$899</h2>
                                                    <p>Professional</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img1.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>
                                                        <li>✔ 90 Second Video</li>
                                                        <li>✔ Professional Script</li>
                                                        <li>✔ Sample Theme</li>
                                                        <li>✔ Storyboard</li>
                                                        <li>✔ Animation</li>

                                                    </ul>
                                                </div>
                                                <div class="get-section">
                                                    <h3>Paid Add-Ons</h3>
                                                    <ul>
                                                        <li>✔ Voice - Over & Sound Effects</li>
                                                        <li>✔ 6 Weeks Delivery</li>
                                                        <li>✔ MP4, MOV, WAV</li>

                                                    </ul>
                                                </div>
                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0 pt-xxl-0">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="flexx item-center  justify-space">
                                                <div class="price-section">
                                                    <h2>$1399</h2>
                                                    <p>Corporate</p>
                                                </div>
                                                <div class="">
                                                    <img src="/images/tab2img3.webp" alt="img" height="60px">
                                                </div>
                                            </div>
                                            <div class="features_get">
                                                <div class="features-section">
                                                    <h3 class="mt-4">Features</h3>
                                                    <ul>
                                                        <li>✔ 3 Minutes Duration</li>
                                                        <li>✔ Unlimited Edits/Revisions & Concepts</li>
                                                        <li>✔ Professional Script</li>
                                                        <li>✔ Concept And Storyboards</li>
                                                        <li>✔ HD 1080</li>
                                                        <li>✔ Texturing</li>
                                                        <li>✔ Rigging</li>
                                                        <li>✔ Animation</li>
                                                        <li>✔ Lighting</li>
                                                        <li>✔ Camera Setting</li>
                                                        <li>✔ Rendering
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="get-section">
                                                    <h3>Paid Add-Ons</h3>
                                                    <ul>
                                                        <li>✔ Compositing And Special VFX</li>
                                                        <li>✔ Music And Foley</li>
                                                        <li>✔ Custom Setting, 2 Characters & Graphics</li>
                                                        <li>✔ Animation Effects & Visualization</li>
                                                        <li>✔ Voice Over - All Accents (M/F)</li>
                                                        <li>✔ MP4, MOV, WAV, GIF</li>

                                                    </ul>
                                                </div>
                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="text-center mt-5">
                        <a class="commonBTN2" href="/price-plans">
                            Pocket - Plans
                        </a>
                    </div>
                </div>


            </div>
        </section>

        <section class="our_approach_sec">
            <div class="container">
                <div class="top-content-award">
                    <div class="pt-5 text-center">
                        <h2 class="heading-title text-white">Workflow</h2>
                        <h1 class="heading heading-h3 text-white">Our Holistic Creative Approach</h1>
                    </div>
                </div>
                <div class="row workflow-sec">
                    <div class="workflow-sec-container">
                        <div class="single-workflow">
                            <div class="workflow-img-2 workflow-1">
                                <div class="workflow-number"> 01 </div> <img src="/images/newImg/workprocess-1.webp"
                                    loading="lazy">
                            </div>
                            <h3 class="text-white">Analyzing</h3>
                            <p class="text-white">Our analytical prowess shines in this process as our dedicated team
                                delves deep into data, extracting valuable insights to inform strategic decisions and
                                elevate your overall performance.</p>
                        </div>
                        <div class="single-workflow">
                            <div class="workflow-img-2 workflow-2">
                                <div class="workflow-number"> 02 </div> <img src="/images/newImg/workprocess-2.webp"
                                    loading="lazy">
                            </div>
                            <h3 class="text-white">Brainstorming</h3>
                            <p class="text-white">We spark creativity in our brainstorming sessions, generating
                                innovative ideas that form the foundation for your unique and impactful solutions.</p>
                        </div>
                        <div class="single-workflow">
                            <div class="workflow-img-2 workflow-3">
                                <div class="workflow-number"> 03 </div> <img src="/images/newImg/workprocess-3.webp"
                                    loading="lazy">
                            </div>
                            <h3 class="text-white">Execution</h3>
                            <p class="text-white">We bring plans to life through flawless execution, where we leverage
                                precision and expertise to turn concepts into reality, ensuring your vision becomes a
                                tangible success.</p>
                        </div>
                        <div class="single-workflow">
                            <div class="workflow-img-2 workflow-4">
                                <div class="workflow-number"> 04 </div> <img src="/images/newImg/website-w.webp"
                                    loading="lazy">
                            </div>
                            <h3 class="text-white">Delivery</h3>
                            <p class="text-white">In our delivery phase, we pride ourselves on ensuring seamless and
                                timely execution, bringing your vision to fruition with precision and excellence. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonials_sec">
            <div class="container">
                <div class="top-content-award">
                    <div class="pt-5 text-center">
                        <h2 class="heading-title text-white">Testimonials</h2>
                        <h1 class="heading heading-h3 text-white">Gage Us With The<br />
                            Word of Mouth
                        </h1>
                        <h6 class="heading heading-h6 text-white letter-spacing-1">You success is our success, period.
                            We believe in humanly leads as satisfied
                            clients are always the best lead generation sources.
                        </h6>
                    </div>
                </div>
                <div class="swiper swiperlastSlider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="lastSlideImg">
                                        <img src="/images/lastslide1.webp" width="100%" alt="lastslide">
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="text-white">
                                        <div class="testimonial_details">
                                            <h4>Best Logo Design</h4>
                                            <div class="quotePara">
                                                <i class="bi bi-quote bi-quote1"></i>
                                                <p>
                                                    <i>
                                                        After researching the best Business logo design company for my
                                                        company, I
                                                        came
                                                        across this one. I must say it has been fantastic working with
                                                        Jack Daniel
                                                        as he
                                                        has listened to my ideas and come up with the best product. I
                                                        would
                                                        recommend
                                                        this website to anyone! Im more than happy with my Business
                                                        logo.
                                                    </i>
                                                </p>
                                                <i class="bi bi-quote bi-quote2"></i>
                                            </div>
                                        </div>
                                        <div class="flexx">
                                            <div class="avatarImg">
                                                <img src="/images/newImg/clint-1.webp" alt="lastslide">
                                            </div>
                                            <div>
                                                <div class="top-content-award">
                                                    <div>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                    <h2>Jake L</h2>
                                                    <p>
                                                        Opt Manager
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="lastSlideImg">
                                        <img src="/images/lastslide.webp" width="100%" alt="lastslide">
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="text-white">
                                        <div class="testimonial_details">
                                            <h4>Best Logo Design</h4>
                                            <div class="quotePara">
                                                <i class="bi bi-quote bi-quote1"></i>
                                                <p>
                                                    <i>
                                                        After researching the best Business logo design company for my
                                                        company, I
                                                        came
                                                        across this one. I must say it has been fantastic working with
                                                        Jack Daniel
                                                        as he
                                                        has listened to my ideas and come up with the best product. I
                                                        would
                                                        recommend
                                                        this website to anyone! Im more than happy with my Business
                                                        logo.
                                                    </i>
                                                </p>
                                                <i class="bi bi-quote bi-quote2"></i>
                                            </div>
                                        </div>
                                        <div class="flexx">
                                            <div class="avatarImg">
                                                <img src="/images/newImg/clint-2.webp" alt="lastslide">
                                            </div>
                                            <div>
                                                <div class="top-content-award">
                                                    <div>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                    <h2>Sue Sasseen</h2>
                                                    <p>
                                                        CEO
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row item-center justify-space">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="lastSlideImg">
                                        <img src="/images/lastslide2.webp" width="100%" alt="lastslide">
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="text-white">
                                        <div class="testimonial_details">
                                            <h4>Jack Daniel did an excellent job.</h4>
                                            <div class="quotePara">
                                                <i class="bi bi-quote bi-quote1"></i>
                                                <p>
                                                    <i>
                                                        Jack Daniel did an excellent job designing a logo for my company. Looking forward to designing web site with him.
                                                    </i>
                                                </p>
                                                <i class="bi bi-quote bi-quote2"></i>
                                            </div>
                                        </div>
                                        <div class="flexx">
                                            <div class="avatarImg">
                                                <img src="/images/newImg/clint-3.webp" alt="lastslide">
                                            </div>
                                            <div>
                                                <div class="top-content-award">
                                                    <div>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                    </div>
                                                    <h2>Harvey Harris</h2>
                                                    <p>Manager</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
<script>
    document.getElementById('businessForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const cname = document.getElementById('cname').value;
        localStorage.setItem('cname', cname);
        window.location.href = '/step-2';  
    });
</script>

        <%- include('partials/footer') %>