<%- include('partials/header') %>

<section class="main_container">


    <!-------------------------- banner-------------------------- -->
    <!-------------------------- banner-------------------------- -->

    <section class="banner portfolio-page">
        <div class="innerBanner">

            <div class="home-banner-video">
                <div class="custom_row">
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/1.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/2.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/3.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/4.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/5.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/6.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/7.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/8.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/9.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/10.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/11.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/12.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/13.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/14.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/15.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/16.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/17.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/8.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/19.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/20.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/21.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/22.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/23.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/24.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/25.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/26.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/27.webp" alt="logo" loading="lazy"></div>
                    </div>
                    <div class="custom_col_7">
                        <div><img src="/images/portfolio/28.webp" alt="logo" loading="lazy"></div>
                    </div>
                </div>
                <div class="bannerContentOuter">
                    <div class="bannerContentInner">
                        <h1 class="heading heading-h1 text-white font-120">Our Portfolio Speaks <br />
                            Louder Than Words</h1>
                        <h6 class="heading heading-h6 text-white letter-spacing-1">
                            We are known to set the bar of creativity high. We’ve got a track record of
                            delivering brilliance mixed with creativity, zeal, passion and persistence.
                            Thanks to our clients who believed in our out of the box thinking.
                        </h6>
                    </div>
                </div>
            </div>


        </div>
    </section>








    <section class="award_sec">
        <div class="">
            <div class="top-content-award">
                <div class="pt-5">
                    <h2 class="heading-title text-white">Portfolio</h2>
                    <h1 class="heading heading-h3 text-white">
                        Logo, Branding, Website Designs <br />
                        Carved With Brilliance
                    </h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                        We’ve been creating beautifully carved logo designs since a decade and when it comes to
                        uplifting a brand, we do it with sheer creativity.
                    </h6>
                </div>
            </div>

            <div class="tab_sec1">
                <ul class="tab_navigation1">
                    <li class="a commonBTN4">
                        Logo Design
                    </li>
                    <li class="b commonBTN4">
                        Branding
                    </li>
                    <li class="c commonBTN4">
                        website
                    </li>
                    <li class="d commonBTN4">
                        Video Animation
                    </li>

                </ul>
                <div class="tab_container_area">
                    <div class="tab_container1 logo_design">
                        <div class="custom_row">
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/29.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/29.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/30.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/30.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/31.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/31.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/32.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/32.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/33.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/33.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/34.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/34.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/35.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/35.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/36.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/36.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/37.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/37.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/38.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/38.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/39.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/39.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/40.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/40.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/41.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/41.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/42.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/42.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/43.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/43.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/47.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/47.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/45.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/45.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/portfolio/46.webp" data-lightbox="logo_design">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/portfolio/46.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab_container1 branding">
                        <div class="custom_row">
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/1.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/1.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/2.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/2.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/3.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/3.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/4.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/4.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/5.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/5.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/6.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/6.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/7.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/7.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/8.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/8.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/9.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/9.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/10.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/10.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/11.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/11.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/12.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/12.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/13.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/13.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/14.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/14.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/15.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/15.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/16.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/16.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/18.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/18.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/branding/17.webp" data-lightbox="branding">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/branding/17.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab_container1 website">
                        <div class="custom_row">
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/15.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/16.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/4.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/17.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/3.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/18.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/2.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/19.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/1.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/20.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/14.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/21.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/13.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/22.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/12.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/23.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/11.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/24.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/10.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/25.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/9.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/26.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/8.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/27.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/6.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/28.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/7.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/29.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="/images/website/5.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/website/30.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="tab_container1 Video_Animation">
                        <div class="custom_row">
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/TYMgw5qi91Y?si=2m2hoflNTPVUJXFw" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/1.gif" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/aA8oNZ8qjls?si=ww-M34Ha_LLaKD3j" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/2.gif" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/una04IsJk9k?si=mQJsJAUvSvs8aOJr" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/3.gif" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/ddJGk-yBH8U?si=G0VbD_J7Jffek2P6" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/4.gif" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/V0GEu2sGmYQ?si=0trssUUPHuc5qYhd" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/5.gif" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/XZq0n2K3r2w?si=_oWKeQw50RjfaxoY" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/6.gif" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/9UtwwoUSDns?si=BAKxhr2CYdB-LfO_" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/7.gif" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_6">
                                <div class="innerLogoSlide">
                                    <a href="https://www.youtube.com/embed/6BJIA8X3fpU?si=Jb-HB5UPPqGPHX9b" class="youtube-video">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="/images/Video_Animation/8.gif" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                           



                        </div>
                    </div>

                </div>

            </div>
            <div class="lightBoxPopup">
                <div class="lightBoxPopupInner">

                </div>
            </div>
        </div>
    </section>


    <div class="container award_sec ">
        <div class="top-content-award text-center">
            <div>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
            <p>
                Folks think we're rad. We're rated 4.8/5 from 100+ customer reviews.
            </p>

        </div>
    </div>

</section>

<%- include('partials/footer') %>