<%- include('partials/header') %>

<section class="main_container">


    <!-------------------------- banner-------------------------- -->
    <!-------------------------- banner-------------------------- -->

    <section class="banner">
        <div class="innerBanner aboutbanner">
        
            <div class="home-banner-video">
                <img src="images/banner-desgin.webp" alt="banner-mobile">
            </div>

            <div class="bannerContent book-applicationBox customLogoBox professional-web-design-services container">
                <div class="row item-center">
                    <div class="col-lg-6 col-10">
                        <h1 class="heading heading-h1 text-white font-120">
                            Crisp Websites Powered
                            By Loud Marketing
                            Strategies
                        </h1>
                        <h2 class="heading heading-h6 text-white letter-spacing-1 line-height-1-5 typewriter mt-4">
                            Tailor-made web design services developed with
                            strong backend and beautiful front-end fused
                            with traffic raking branding strategies.
                        </h2>

                        <div class="slider-list">
                            <ul>
                                <li>✔ &nbsp;&nbsp; Beautiful visuals</li>
                                <li>✔ &nbsp;&nbsp; Highly secured coding</li>
                                <li>✔ &nbsp;&nbsp;Outperforming branding services</li>
                            
                            </ul>
                        </div>

                        <a class="commonBTN2" href="javascript:;">
                            Develop My Website
                        </a>
                    </div>
                    <div class="col-lg-6 col-10">
                        <div>
                            <img src="images/banner-desginbox.webp" alt="logo-box-banner">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container logoSwiperMarginTop forLogoWidth">
                <div class="swiper logoSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="images/1.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="images/2.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="images/3.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="images/4.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="images/5.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="images/1.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="images/2.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="images/3.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="logoSlide">
                                <div><img src="images/4.webp" alt="logo Slide"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="award_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5">
                    <h2 class="heading-title text-white">Website TYPE</h2>
                    <h1 class="heading heading-h3 text-white">
                        Web Design And <br />
                        SMM Soaring At Its Prime
                    </h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                        If a business isn’t online, it is destined to get outshined. Your business website needs the right knack of professional coding, elegant themes and optimized marketing that catch the eyes of your target audience.
                    </h6>
                    <p class="text-white mb--10 desc">
                        With decades of experience, professional fleet of web developers and web design strategists knowing out of the box strategies of modern-world web development, we are popular for delivering websites powered by traffic hungry algorithms. We know how difficult it is to climb up the competition but we are habitual of delivering impossibles. Be it anything that relates to your website, we ensure everything that needs to be chipped in your business website to make it rank on the search engines better and faster.
                        Be it a professional blog, the website of your business, your e-commerce store or a business portfolio website, seal the deal with our professional web development and design services that are bound to boost your business leads and online presence.
                    </p>
                </div>
            </div>

            <div class="tab_sec1">
                <ul class="tab_navigation1">
                    <li class="a commonBTN4">
                        HTML Website
                    </li>
                    <li class="b commonBTN4">
                        CMS Website
                    </li>
                    <li class="c commonBTN4">
                        E-Commerce Solutions
                    </li>
                    <li class="d commonBTN4">
                        Business Website
                    </li>

                </ul>
                <div class="tab_container_area">
                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">HTML Website</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">HTML development that makes the difference</h6>
                                    <p>
                                        No matter how good pre-built templates are, when it comes to a customized website built for tailor-made technical feature packed requirements, HTML websites beat its rivals by miles. We develop HTML websites from scratch after thoroughly analyzing your business nature and competitors. Our goal is always to make your HTML website standout among your competitors and we design with the right flow, beautiful layout and absolutely delving features that match all of the required needs. We believe to create HTML websites that speak your niche and deliver optimum results.
                                    </p>
                                    <div class="flexx btns">
                                        <!-- <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Custom Logo
                                            </a>
                                        </div> -->
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="images/desginBox1.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">CMS Website</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">CMS development at its prime</h6>
                                    <p>
                                        Manage and control all of your visual and textual content on your website via Content Management System (CMS). The best part of these websites is their easy to handle backend and front-end changes. CMS websites accommodate changes swiftly and can be managed without any hassle even if one knows no technicalities whatsoever. Our CMS website development team has hands-on experience of developing visually appealing and insanely creative CMS websites that represent your business in an easy way. A perfect blend of impecular UX fused with engaging UI
                                    </p>
                                    <div class="flexx btns">
                                        <!-- <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Custom Logo
                                            </a>
                                        </div> -->
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="images/desginBox2.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">E-Commerce Solutions</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">Sell products faster with our optimized e-commerce development</h6>
                                    <p>
                                        Your e-commerce store should look beautiful and up to date with the latest technologies fused rightly. At Logura, we know the rocket science behind developing extremely sellable e-commerce stores with secure payment options, robust backend and website layout to die for. Our team of e-commerce experts design custom online stores according to its niche. This is why we have an industry-reputation of delivering unbelievably high performing e-commerce stores.
                                    </p>
                                    <div class="flexx btns">
                                        <!-- <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Custom Logo
                                            </a>
                                        </div> -->
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="images/desginBox3.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab_container1">
                        <div class="row justify-space item-center">
                            <div class="col-lg-6 col-10">
                                <div>
                                    <h1 class="heading heading-h3 ">Business Websites</h1>
                                    <h6 class="heading heading-h6  letter-spacing-1">Business websites are sleek and impactful - we design with logic</h6>
                                    <p>
                                        Business websites have no margin of error as they represent everything about your business in a jiffy. Keep it appealing, simple, organized and optimized with our innovatively empowered business website development. We develop business websites with spectacular visual representation, industry-standard theme, visible portfolio and much more. Our team has been delivering spontaneous results and our technologically sound web developers make it all happen with commitment.
                                    </p>
                                    <div class="flexx btns">
                                        <!-- <div>
                                            <a class="commonBTN2" href="javascript:;">
                                                Get A Custom Logo
                                            </a>
                                        </div> -->
                                        <div>
                                            <a class="commonBTN3" href="javascript:;">
                                                <i class="bi bi-chat-dots-fill"></i> Discuss My Type
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-10">
                                <div>
                                    <img src="images/desginBox4.webp" alt="service-img-lb">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="award_sec">
        <div class="">
            <div class="top-content-award">
                <div class="pt-5">
                    <h2 class="heading-title text-white">Portfolio</h2>
                    <h1 class="heading heading-h3 text-white">
                        Lead Focused Web Design <br />
                        And Content Optimization
                    </h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                        We build brands by impecular design sense combined with
                        words that pull the interest of your target audience.
                    </h6>
                </div>
            </div>

            <div class="tab_sec1">
                <ul class="tab_navigation3">
                    <li class="a commonBTN4">
                        HTML
                    </li>
                    <li class="b commonBTN4">
                        CMS
                    </li>
                    <li class="c commonBTN4">
                        E-Commerce
                    </li>
                    <li class="d commonBTN4">
                        Portal
                    </li>

                </ul>
                <div class="tab_container_area">
                    <div class="tab_container3 logo_design">
                        <div class="custom_row">
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/15.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/16.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/12.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/23.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/13.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/22.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/14.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/21.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/5.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/30.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/8.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/27.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/1.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/20.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/9.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/26.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/6.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/28.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/4.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/17.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab_container3 branding">
                        <div class="custom_row">
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/4.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/17.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/3.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/18.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/2.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/19.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/1.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/20.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/12.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/23.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/11.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/24.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/10.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/25.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/9.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/26.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/6.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/28.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/7.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/29.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab_container3 website">
                        <div class="custom_row">
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/15.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/16.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/14.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/21.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/1.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/20.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/12.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/23.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/13.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/22.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/5.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/30.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/8.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/27.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/9.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/26.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/6.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/28.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/4.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/17.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="tab_container3 Video_Animation">
                        <div class="custom_row">
                            
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/1.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/20.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/12.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/23.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/11.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/24.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/4.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/17.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/3.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/18.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/2.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/19.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/10.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/25.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/9.webp" data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/26.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/6.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/28.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                            <div class="custom_col_5">
                                <div class="innerLogoSlide">
                                    <a href="images/website/7.webp" data-lightbox="logoZoom"
                                        data-lightbox="website">
                                        <div class="innerLogoSlideBlack"><i class="bi bi-plus-lg"></i></div><img
                                            src="images/website/29.webp" alt="logo" loading="lazy">
                                    </a>
                                </div>
                            </div>
                           



                        </div>
                    </div>

                </div>

            </div>
            <div class="lightBoxPopup">
                <div class="lightBoxPopupInner">

                </div>
            </div>
        </div>
    </section>


    <div class="container award_sec ">
        <div class="top-content-award text-center">
            <div>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
            <p>
                Folks think we're rad. We're rated 4.8/5 from 100+ customer reviews.
            </p>
            <a class="commonBTN2" href="javascript:;">
                Explore More Here
            </a>
        </div>
    </div>

    

    <section class="award_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5">
                    <h2 class="heading-title text-white">Pricing</h2>
                    <h1 class="heading heading-h3 text-white">Web Design And Development <br />
                        Soaring At Its Prime</h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">With professional fleet of web
                        developers and web design strategists knowing out of the box strategies, we are popular
                        for delivering websites powered by traffic hungry algorithms.</h6>
                </div>
            </div>

            <div class="tab_sec1">
                <ul class="tab_navigation4">
                    <li class="a commonBTN4">
                        HTML
                    </li>
                    <li class="b commonBTN4">
                        CMS
                    </li>
                    <li class="c commonBTN4">
                        E-Commerce
                    </li>
                    <li class="c commonBTN4">
                        Portal
                    </li>

                </ul>
                <div class="tab_container_area">
                    <div class="tab_container4">
                        <div class="rowOuter">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="html-heading01 text-center">HTML Features</h2>
                                    <p class="html-heading html-heading2 text-center ">We offer a full range of
                                        HTML-related services such as design, development, integration, migration,
                                        and support.</p>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="">
                                                
                                                <div class="single-pricing-head">
                                                    <img src="images//htmlwebsite.webp" alt="img" >
                                                    <div class="price-section text-center">
                                                        <p>HTML Website <br /> Package</p><br />
                                                        <h2><span>$</span>499</h2>
                                                    </div>
                                                </div>
                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            
                                            <div class="">
                                                <div class="features-section">
                                                    <ul>
                                                        <li><i class="bi bi-gear-fill"></i> Product/Service Page</li>
                                                        <li><i class="bi bi-image-fill"></i> Portfolio/Gallery Page</li>
                                                        <li><i class="bi bi-laptop"></i> 5 Pages Static Website</li>
                                                        <li><i class="bi bi-filetype-html"></i> W3C Certified HTML</li>
                                                        <li><i class="bi bi-pc-display-horizontal"></i> JQuery Slider Banner</li>
                                                        <li><i class="bi bi-laptop-fill"></i> Mobile Responsive Layout</li>
                                                        <li><i class="bi bi-file-break"></i> Home Page Layout</li>
                                                        <li><i class="bi bi-building"></i> Company Profile Page</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            
                                            <div class="">
                                                <div class="features-section">
                                                    <ul>
                                                        <li><i class="bi bi-person-vcard-fill"></i> Contact Us Page</li>
                                                        <li><i class="bi bi-person-add"></i> Lead Inquiry Form</li>
                                                        <li><i class="bi bi-pencil-square"></i> Website Favicon Design</li>
                                                        <li><i class="bi bi-image-fill"></i> 5 Web Page Banners Design</li>
                                                        <li><i class="bi bi-image-fill"></i> 5 Royalty-Free Stock Images</li>
                                                        <li><i class="bi bi-laptop-fill"></i> Advanced UI/UX Effects</li>
                                                        <li><i class="bi bi-share-fill"></i>Social Media Integrations</li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                    <div class="Certificate_box">
                                        <div>
                                            <img src="images/certificate_b.webp" alt="certificate_b">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab_container4">
                        <div class="rowOuter">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="html-heading01 text-center">CMS Features</h2>
                                    <p class="html-heading html-heading2 text-center ">Manage and control all of your visual and textual content on your website via Content Management System (CMS).</p>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            <div class="">
                                                
                                                <div class="single-pricing-head">
                                                    <img src="images//htmlwebsite.webp" alt="img" >
                                                    <div class="price-section text-center">
                                                        <p>CMS Website <br/> Package</p><br />
                                                        <h2><span>$</span>999</h2>
                                                    </div>
                                                </div>
                                            </div>

                                            <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            
                                            <div class="">
                                                <div class="features-section">
                                                    <ul>
                                                        <li><i class="bi bi-gear-fill"></i> Main Product/Service Page</li>
                                                        <li><i class="bi bi-gear-fill"></i> CMS Admin Panel</li>
                                                        <li><i class="bi bi-image-fill"></i> Portfolio/Gallery Page</li>
                                                        <li><i class="bi bi-laptop"></i> 5-10 Pages Custom Website</li>
                                                        <li><i class="bi bi-filetype-html"></i> W3C Certified HTML</li>
                                                        <li><i class="bi bi-pc-display-horizontal"></i> JQuery Slider Banner</li>
                                                        <li><i class="bi bi-laptop-fill"></i> Mobile Responsive Layout</li>
                                                        <li><i class="bi bi-file-break"></i> Home Page Layout</li>
                                                        <li><i class="bi bi-building"></i> Portfolio/Gallery Section</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                    <div class="package_pricing">
                                        <div class="pricing-card">
                                            
                                            <div class="">
                                                <div class="features-section">
                                                    <ul>
                                                        <li><i class="bi bi-person-vcard-fill"></i> Contact Us Page</li>
                                                        <li><i class="bi bi-person-add"></i> Lead Inquiry Form</li>
                                                        <li><i class="bi bi-pencil-square"></i> Website Favicon Design</li>
                                                        <li><i class="bi bi-image-fill"></i> 12 Web Page Banners Design</li>
                                                        <li><i class="bi bi-image-fill"></i> 12 Royalty-Free Stock Images</li>
                                                        <li><i class="bi bi-laptop-fill"></i> Advanced UI/UX Effects</li>
                                                        <li><i class="bi bi-share-fill"></i>Social Media Integrations</li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                    <div class="Certificate_box">
                                        <div>
                                            <img src="images/certificate_b.webp" alt="certificate_b">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab_container4">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$1499</h2>
                                                <p>Basic</p>
                                            </div>
                                            <div class="">
                                                <img src="images/e-commerce.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="">Features</h3>
                                                <ul>
                                                    <li>✔ Upto 10 Products & Categories</li>
                                                    <li>✔ Product Attributes & Features</li>
                                                    <li>✔ General Product Search</li>
                                                    <li>✔ Shopping Cart Integration</li>
                                                    <li>✔ Single Payment Module</li>
                                                    <li>✔ CMS Admin Panel</li>
                                                    <li>✔ Order Management System</li>
                                                    <li>✔ Newsletter Subscription</li>
                                                    <li>✔ MySQL Database Creation</li>
                                                    <li>✔ Lead Inquiry Form</li>
                                                    <li>✔ Website Favicon Design</li>
                                                    <li>✔ Mobile Responsive Layout</li>
                                                    <li>✔ JQuery Slider Banners</li>
                                                    <li>✔ 8 Web Page Banners Design </li>
                                                    <li>✔ 8 Royalty Free Stock Images </li>
                                                    <li>✔ Advance UI/UX Effects </li>
                                                    <li>✔ Social Media Integrations</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$2499</h2>
                                                <p>Extended</p>
                                            </div>
                                            <div class="">
                                                <img src="images/e-commerce.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="">Features</h3>
                                                <ul>
                                                    <li>✔ Upto 25 Products & Categories</li>
                                                    <li>✔ Product Attributes & Features</li>
                                                    <li>✔ Product Search</li>
                                                    <li>✔ Product Filtration</li>
                                                    <li>✔ Shopping Cart Integration</li>
                                                    <li>✔ Upto 2 Payment Module</li>
                                                    <li>✔ CMS Admin Panel</li>
                                                    <li>✔ Order Management System</li>
                                                    <li>✔ Newsletter Subscription</li>
                                                    <li>✔ Website Blog Section</li>
                                                    <li>✔ MySQL Database Creation</li>
                                                    <li>✔ Lead Inquiry Form</li>
                                                    <li>✔ Website Favicon Design</li>
                                                    <li>✔ Mobile Responsive Layout</li>
                                                    <li>✔ JQuery Slider Banners</li>
                                                    <li>✔ 12 Web Page Banners Design </li>
                                                    
                                                    <li>✔ Advance UI/UX Effects </li>
                                                    <li>✔ Social Media Integrations</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$3999</h2>
                                                <p>Professional</p>
                                            </div>
                                            <div class="">
                                                <img src="images/e-commerce.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="">Features</h3>
                                                <ul>
                                                    <li>✔ Upto 50 Products & Categories</li>
                                                    <li>✔ Product Attributes & Features</li>
                                                    <li>✔ Product Search & Filtration</li>
                                                  
                                                    <li>✔ Product Reviews & Rating</li>
                                                    <li>✔ Product Favorites & Wishlist</li>
                                                    <li>✔ Spreadsheet Products Import</li>
                                                    <li>✔ Shopping Cart Integration</li>
                                                    <li>✔ Promo Code/Coupon Feature</li>
                                                    <li>✔ Upto 3 Payment Module</li>
                                                    <li>✔ CMS Admin Panel</li>
                                                    <li>✔ Order Management System</li>
                                                    <li>✔ Inventory Management</li>
                                                    <li>✔ Order Shipment & Tracking</li>
                                                    <li>✔ User Signup & Login</li>
                                                    <li>✔ Personalized User Dashboard</li>
                                                    <li>✔ Newsletter Subscription</li>
                                                    <li>✔ Website Blog Section</li>
                                                    <li>✔ MySQL Database Creation</li>
                                                    <li>✔ Lead Inquiry Form</li>
                                                    <li>✔ Website Favicon Design</li>
                                                    <li>✔ Mobile Responsive Layout</li>
                                                    <li>✔ JQuery Slider Banners</li>
                                                    <li>✔ 12 Web Page Banners Design </li>
                                                    <li>✔ 12 Royalty Free Stock Images </li>
                                                    
                                                    <li>✔ Advance UI/UX Effects </li>
                                                    <li>✔ Social Media Integrations</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>$5999</h2>
                                                <p>Enterprise</p>
                                            </div>
                                            <div class="">
                                                <img src="images/e-commerce.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="">Features</h3>
                                                <ul>
                                                    <li>✔ Upto 100 Products & Categories</li>
                                                    <li>✔ Product Attributes & Features</li>
                                                    <li>✔ Product Search & Filtration</li>
                                                  
                                                    <li>✔ Product Reviews & Rating</li>
                                                    <li>✔ Product Favorites & Wishlist</li>
                                                    <li>✔ Spreadsheet Products Import</li>
                                                    <li>✔ Shopping Cart Integration</li>
                                                    <li>✔ Promo Code/Coupon Feature</li>
                                                    <li>✔ Spreadsheet Products Import</li>
                                                    <li>✔ Multiple Payment Modules</li>
                                                    <!-- <li>✔ Upto 3 Payment Module</li> -->
                                                    <li>✔ CMS Admin Panel</li>
                                                    <li>✔ Order Management System</li>
                                                    <li>✔ Inventory Management</li>
                                                    <li>✔ Sales Reporting Feature</li>
                                                    <li>✔ Order Shipment & Tracking</li>
                                                    <li>✔ User Signup & Login</li>
                                                    <li>✔ Personalized User Dashboard</li>
                                                    <li>✔ Newsletter Subscription</li>
                                                    <li>✔ Website Blog Section</li>
                                                    <li>✔ MySQL Database Creation</li>
                                                    <li>✔ Lead Inquiry Form</li>
                                                    <li>✔ Website Favicon Design</li>
                                                    <li>✔ Mobile Responsive Layout</li>
                                                    <li>✔ JQuery Slider Banners</li>
                                                    <li>✔ 12 Web Page Banners Design </li>
                                                    <li>✔ 12 Royalty Free Stock Images </li>
                                                    
                                                    <li>✔ Advance UI/UX Effects </li>
                                                    <li>✔ Social Media Integrations</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab_container4">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>Portal</h2>
                                                <p>Product Based</p>
                                            </div>
                                            <div class="">
                                                <img src="images/tab2img4.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="">Features</h3>
                                                <ul>
                                                    <li>✔ Unlimited Sellers</li>
                                                    <li>✔ Unlimited Selling Products</li>
                                                    <li>✔ Unlimited Categories/Industries</li>
                                                    <li>✔ Products Attributes & Features</li>
                                                    <li>✔ Products Search & Filtration</li>
                                                    <li>✔ Product Reviews & Rating</li>
                                                    <li>✔ Seller Reviews & Rating</li>
                                                    <li>✔ Seller Login & Dashboard</li>
                                                    <li>✔ Clients Login & Dashboard</li>
                                                    <li>✔ Shopping Cart Integration</li>
                                                    <li>✔ Promo Code/Coupon Feature</li>
                                                    <li>✔ Multiple Payment Options</li>
                                                    <li>✔ Seller Inventory Management</li>
                                                    <li>✔ Order Shipment & Tracking</li>
                                                    <li>✔ Newsletter Subscription</li>
                                                    <li>✔ Admin Control Panel</li>
                                                    <li>✔ Paid Advertising & Ads Placement</li>
                                                    <li>✔ Website Blog Section</li>
                                                    <li>✔ MySQL Database Creation</li>
                                                    <li>✔ Lead Inquiry Form</li>
                                                    <li>✔ Website Favicon Design</li>
                                                    <li>✔ Mobile Responsive Layout</li>
                                                    <li>✔ JQuery Slider Banners</li>
                                                    <li>✔ Web Page Banners Design</li>
                                                    
                                                    <li>✔ Royalty Free Stock Images </li>
                                                    <li>✔ Advance UI/UX Effects </li>
                                                    <li>✔ Social Media Integrations</li>
                                                    <li>✔ 3 Month LiveChat Agent</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>Portal</h2>
                                                <p>Service Based</p>
                                            </div>
                                            <div class="">
                                                <img src="images/tab2img4.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="">Features</h3>
                                                <ul>
                                                    <li>✔ Unlimited Providers</li>
                                                    <li>✔ Unlimited Service Offerings</li>
                                                    <li>✔ Unlimited Categories/Industries</li>
                                                    <li>✔ Services Attributes & Features</li>
                                                    <li>✔ Services Search & Filtration</li>
                                                    <li>✔ Service Reviews & Rating</li>
                                                    <li>✔ Provider Reviews & Rating</li>
                                                    <li>✔ Provider Login & Dashboard</li>
                                                    <li>✔ Clients Login & Dashboard</li>
                                                    <!-- <li>✔ Shopping Cart Integration</li> -->
                                                    <li>✔ Promo Code/Coupon Feature</li>
                                                    <li>✔ Multiple Payment Options</li>
                                                    <li>✔ Order Status & Progress</li>
                                                    <!-- <li>✔ Seller Inventory Management</li> -->
                                                    <!-- <li>✔ Order Shipment & Tracking</li> -->
                                                    <li>✔ Newsletter Subscription</li>
                                                    <li>✔ Website Blog Section</li>
                                                    <li>✔ Admin Control Panel</li>
                                                    <li>✔ Paid Advertising & Ads Placement</li>
                                                    <!-- <li>✔ Website Blog Section</li> -->
                                                    <li>✔ MySQL Database Creation</li>
                                                    <li>✔ Lead Inquiry Form</li>
                                                    <li>✔ Website Favicon Design</li>
                                                    <li>✔ Mobile Responsive Layout</li>
                                                    <li>✔ JQuery Slider Banners</li>
                                                    <li>✔ Web Page Banners Design</li>
                                                    <li>✔ Royalty Free Stock Images </li>
                                                    <li>✔ Advance UI/UX Effects </li>
                                                    <li>✔ Social Media Integrations</li>
                                                    <li>✔ 3 Month LiveChat Agent</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-sm-6 col-10 ">
                                <div class="package_pricing">
                                    <div class="pricing-card">
                                        <div class="flexx item-center  justify-space">
                                            <div class="price-section">
                                                <h2>Portal</h2>
                                                <p>Networking Based</p>
                                            </div>
                                            <div class="">
                                                <img src="images/tab2img4.webp" alt="img" height="60px">
                                            </div>
                                        </div>
                                        <div class="features_get">
                                            <div class="features-section">
                                                <h3 class="">Features</h3>
                                                <ul>
                                                    <li>✔ Unlimited Users</li>
                                                    <li>✔ Multiple User Profiles & Pages</li>
                                                    <li>✔ Unlimited Groups/Communities</li>
                                                    <li>✔ Users Login & Dashboard</li>
                                                    <li>✔ 1-on-1 Chats & Messages</li>
                                                    <li>✔ Multiple Chat rooms</li>
                                                    <li>✔ User Connections & Invitations</li>
                                                    <li>✔ Users Networking Circle</li>
                                                    <li>✔ User Profile Banners & Pictures</li>
                                                    <!-- <li>✔ Shopping Cart Integration</li> -->
                                                    <li>✔ Users Posts & Interactions</li>
                                                    <li>✔ Users Staus Online/Offline</li>
                                                    <li>✔ Posts/Media Sharing & Tagging</li>
                                                    <!-- <li>✔ Seller Inventory Management</li> -->
                                                    <!-- <li>✔ Order Shipment & Tracking</li> -->
                                                    <li>✔ User Privacy Settings</li>
                                                    <li>✔ MySQL Database Creation</li>
                                                    <li>✔ Website Favicon Design</li>
                                                    <li>✔ Admin Control Panel</li>
                                                    <!-- <li>✔ Website Blog Section</li> -->
                                                    <li>✔ Paid Advertising & Ads Placement</li>
                                                    <li>✔ Mobile Responsive Layout</li>
                                                    <li>✔ Advance UI/UX Effects</li>
                                                    <li>✔ i.e Job Portals</li>
                                                    <li>✔ i.e Social Networking Sites</li>
                                                    
                                                </ul>
                                            </div>
                                        </div>

                                        <a class="commonBTN2 mt-4 mb-2" href="javascript:;">
                                            Order Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="our_approach_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5 text-center">
                    <h2 class="heading-title text-white">Workflow</h2>
                    <h1 class="heading heading-h3 text-white">
                        Our Holistic Creative Approach
                    </h1>
                </div>
            </div>
            <div class="row workflow-sec">
                <div class="workflow-sec-container">
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-1">
                            <div class="workflow-number"> 01 </div> <img src="images/newImg/workprocess-1.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Analyzing</h3>
                        <p class="text-white">
                            Our analytical prowess shines in this process as our dedicated team delves deep into data, extracting valuable insights to inform strategic decisions and elevate your overall performance.
                        </p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-2">
                            <div class="workflow-number"> 02 </div> <img src="images/newImg/workprocess-2.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Brainstorming</h3>
                        <p class="text-white">
                            We spark creativity in our brainstorming sessions, generating innovative ideas that form the foundation for your unique and impactful solutions.
                        </p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-3">
                            <div class="workflow-number"> 03 </div> <img src="images/newImg/workprocess-3.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Execution</h3>
                        <p class="text-white">
                            We bring plans to life through flawless execution, where we leverage precision and expertise to turn concepts into reality, ensuring your vision becomes a tangible success.
                        </p>
                    </div>
                    <div class="single-workflow">
                        <div class="workflow-img-2 workflow-4">
                            <div class="workflow-number"> 04 </div> <img src="images/newImg/website-w.webp"
                                loading="lazy">
                        </div>
                        <h3 class="text-white">Delivery</h3>
                        <p class="text-white">
                            In our delivery phase, we pride ourselves on ensuring seamless and timely execution, bringing your vision to fruition with precision and excellence.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials_sec">
        <div class="container">
            <div class="top-content-award">
                <div class="pt-5 text-center">
                    <h2 class="heading-title text-white">Testimonials</h2>
                    <h1 class="heading heading-h3 text-white">
                        Elevate Your Brand Awareness with a Simple Call to Us
                    </h1>
                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                        Reach out to us, and let's amplify your brand awareness together, creating a lasting impact in the market with the endorsement of satisfied customer reviews.
                    </h6>
                </div>
            </div>
            <div class="swiper swiperlastSlider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="images/lastslide1.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Best Logo Design</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    After researching the best Business logo design company for my
                                                    company, I
                                                    came
                                                    across this one. I must say it has been fantastic working with
                                                    Jack Daniel
                                                    as he
                                                    has listened to my ideas and come up with the best product. I
                                                    would
                                                    recommend
                                                    this website to anyone! Im more than happy with my Business
                                                    logo.
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="images/newImg/clint-1.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Jake L</h2>
                                                <p>
                                                    Opt Manager
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="images/lastslide.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Great find, I'd use them again in a heartbeat!</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    I needed a new logo design for my small business. These guys
                                                    could not have been easier to work with and the result was far
                                                    beyond my expectation. I would absolutely use them again!
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="images/newImg/clint-2.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Sue Sasseen</h2>
                                                <p>
                                                    CEO
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row item-center justify-space">
                            <div class="col-6">
                                <div class="lastSlideImg">
                                    <img src="images/lastslide2.webp" width="100%" alt="lastslide">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="text-white">
                                    <div class="testimonial_details">
                                        <h4>Jack Daniel did an excellent job.</h4>
                                        <div class="quotePara">
                                            <i class="bi bi-quote bi-quote1"></i>
                                            <p>
                                                <i>
                                                    Jack Daniel did an excellent job designing a logo for my
                                                    company. Looking forward to designing web site with him.
                                                </i>
                                            </p>
                                            <i class="bi bi-quote bi-quote2"></i>
                                        </div>
                                    </div>
                                    <div class="flexx">
                                        <div class="avatarImg">
                                            <img src="images/newImg/clint-3.webp" alt="lastslide">
                                        </div>
                                        <div>
                                            <div class="top-content-award">
                                                <div>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                                <h2>Harvey Harris</h2>
                                                <p>
                                                    Manager
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

</section>

<%- include('partials/footer') %>